[2018-05-07 17:40] murilovarges opened #2 "Error when finetune UCF101"
Hi,

I'm trying to finetune using the script "finetune_ucf101.sh" I follow the tutorial "https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/hmdb51_finetune.md".

Follow the errors:
Traceback (most recent call last):
  File "tools/train_net.py", line 501, in <module>
    main()
  File "tools/train_net.py", line 496, in main
    Train(args)
  File "tools/train_net.py", line 280, in T

[2018-05-07 17:46] dutran commented on #2
@murilovarges Did you compiled caffe2 with openCV and ffmpeg flags are ON. I think CMake could not detect your dependencies, thus compile w/o VideoInputOp.

[2018-05-10 08:49] fengwuxuan commented on #2
I got a same error with opencv 3.4.1, @murilovarges  did you solve it?

[2018-05-10 17:52] murilovarges commented on #2
Hello @dutran I compiled caffe2 with openCV 3.4.1 and ffmpeg flags are ON, but I still with same errors.

[2018-05-10 18:13] dutran commented on #2
I assume you install caffe2 from this https://github.com/pytorch/pytorch and follow instructions from here: https://caffe2.ai/docs/getting-started.html?configuration=compile . Do you install caffe2 pre-build or from source, pre-build version may not include VideoInputOp.

[2018-05-10 18:16] dutran commented on #2
try to compile caffe2 yourself, follow https://caffe2.ai/docs/getting-started.html?configuration=compile when you do ```cmake ..```, you should get a summary about dependencies found by cmake, make sure it found ffmpeg, OpenCV (check version).

[2018-05-10 18:27] dutran commented on #2
I used the latest on compiled from source (https://trac.ffmpeg.org/wiki/CompilationGuide/Centos) tested on CentOS.

[2018-05-10 20:36] dutran commented on #2
@murilovarges: @CHJoanna from our team has just double checked the wrote some installation note [installation guide](tutorials/Installation_guide.md) in case you need a reference.

[2018-05-11 15:15] bjuncek commented on #2
@murilovarges is your openCV compiled with CUDA support?
I ran into a similar issue (it was on centOS7 with OpenCV 2.4.x, and it got solved when I recompiled the OpenCV to 3.4.x with
`-D WITH_CUDA=ON ` option on and then recompiled cafe again.

For complete transparency, I used following parameters when configuring OpenCV, and the instructions found [here](https://www.pyimagesearch.com/2016/07/11/

[2018-05-15 18:33] dutran commented on #2
@murilovarges have you got your compiling issue solved?

[2018-05-16 16:31] murilovarges commented on #2
Hi @dutran, thank you very much for the tutorial, I'm using Ubuntu 16.04 and facing some problems with OpenCV compilation. I'll work in this today and report the result here.

[2018-05-17 03:53] murilovarges commented on #2
Thank you so much @dutran and @CHJoanna, I followed the tutorial with some minor changes for Ubuntu and now I'm able to run the script for "fine tuning" without "VideoInput" errors.

[2018-05-17 09:07] dutran commented on #2
Great!

[2018-05-17 09:07] #2 closed

[2018-05-24 16:49] murilovarges opened #6 "SVM with R(2+1)D Features"
Hi @dutran,

I'm trying to reproduce the results reported in **_"A Closer Look at Spatiotemporal Convolutions for Action Recognition"_** and a doubt has arisen. Why don't you use SVM with features extracted from R(2+1)D net?

In the previous papers, you use (Features from net + SVM):
**C3D - VGG Architecture -** Learning Spatiotemporal Features with 3D Convolutional Networks
**Res3D - ResNet Archi

[2018-06-01 01:41] murilovarges opened #7 "Finetune using OpticalFlow Models"
Hi @dutran,

First, thank you for making public this wonderful work.

I've already been able to use this code to finetune R(2+1)D model on my dataset and run dense prediction with success.

Now I would like to use Optical Flow for computing accuracy rate of R(2+1)D-Two-Stream and I have some questions:
1 - Can you provide the R(2+1)D-Flow trained in "Kinetics", because I found only trained "Sports

[2018-06-02 01:11] dutran commented on #7
@murilovarges
1. https://www.dropbox.com/s/qd0wjvhtqt88qx4/r2.5d_d34_l32_from_scratch_of_bn0.9.pkl?dl=0

2. For the parameters of optical flows, you can check them here https://github.com/facebookresearch/R2Plus1D/blob/master/scripts/extract_feature_kinetics_of.sh

[2018-06-02 01:11] #7 closed

[2018-06-07 01:10] starsdeep opened #8 "Installation Guide for Ubuntu"
Hi, the installation guide is specifically for CentOS. Can you create an installation guide for Ubuntu?

[2018-06-07 01:37] dutran commented on #8
@CHJoanna may be able to help.

[2018-06-09 15:09] murilovarges opened #9 "Parameter epoch_size greater than dataset size in train phase"
Hi,

In the paper, you said _"Although Kinetics has only about 240k training videos, we set epoch size to be 1M for temporal jittering"_.

I would like to know what will happen, the video reader will start from the begin of dataset? In this case will process the dataset about 4 times per epoch, in each time get a different clip for each video using temporal jittering?

I tried to find this informa

[2018-06-09 19:19] dutran commented on #9
Yes, it uses temporal jitter, which is implemented here https://github.com/pytorch/pytorch/blob/master/caffe2/video/video_input_op.h#L235

[2018-06-09 21:30] murilovarges commented on #9
Thank you @dutran,

In https://github.com/pytorch/pytorch/blob/master/caffe2/core/db.h#L232 If the cursor reaches its end, the reader will go back to the head of the db.

[2018-06-10 18:01] KamranAlipour opened #10 "segmentation fault while running the finetune UCF101"
finetuning on hmdb51 works fine for me, but once I tried ucf the model gives me a segmentation fault at the very beginning of training process right after model loading.
I've downloaded the dataset and extracted it to the correct path,
then used scripts/create_ucf101_lmdb.sh to create the lmdbs, and then I ran scrips/finetune_ucf101
and I get this:

Ignoring @/caffe2/caffe2/contrib/nccl:nccl_ops a

[2018-06-10 18:03] KamranAlipour commented on #10
the only suspicious thing I noticed was in the loading section where I have:
INFO:model_loader:last_out_L101_w not found
INFO:model_loader:last_out_L101_b not found

[2018-06-10 23:09] dutran commented on #9
Yes, the reader will make about 4 times over the list, but due to temporal jittering, it is likely to see a different clip even with the same video.

[2018-06-10 23:09] #9 closed

[2018-06-10 23:14] dutran commented on #10
This part is normal, as you have different layer name (to predict 101 classes instead of 400 as Kinetics). The issue seems to be around LMBD and data reader. When you created lmdb, which option did you use? e.g. use_local_file = 1 or 0. This is needed to adjust the same for the finetuning option. As the VideoInputOp will read the key,value pair from LMDB, then if use local file is true, it use val

[2018-06-11 19:53] think-high commented on #8
Even I am using it on Ubuntu 16.04. So, I have created an equivalent installation guide for Ubuntu while I was installing it on my machine. Let me know if I can help.

[2018-06-11 19:56] dutran commented on #8
@think-high feel free to send a PR. Thanks for your contribution.

[2018-06-11 20:06] think-high opened #11 "Unclear structure of the list file that is required for feature extraction"
The file structure for list file that is required for feature extraction is:
org_video,label,start_frm,video_id

I am confused about the video_id here. According to the [feature extraction tutorial](https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/feature_extraction.md) each clip has a different video_id, but according to the list files available on the dropbox [here](https://www

[2018-06-11 20:39] dutran commented on #11
That list is for different purpose, e.g. dense prediction where we don't really care about the identities of clips within a video, for example, we just want to average pool the predictions to make the video-level prediction. However, for some other use cases, e.g. detection, if we want to have the real identities of clip, then we can keep the video_id for each clip different so after feature extra

[2018-06-11 20:41] think-high commented on #8
@dutran : I haven't created a Pull Request earlier so it will take some time for me to read the guidelines and also figure out how it works. I am uploading the file here so that @starsdeep and others are not blocked. And then I will create a PR separately if still required.
Let me know!

[Ubuntu Installation guide.docx](https://github.com/facebookresearch/R2Plus1D/files/2091663/Ubuntu.Installation

[2018-06-11 21:05] think-high commented on #11
Oh, I see. Thanks for the help.

[2018-06-11 21:05] #11 closed

[2018-06-11 21:06] think-high commented on #11
And what's the reason for the 1 frame clips though?

[2018-06-12 12:49] murilovarges opened #12 "Warnings/error when finetune UCF101"
Hi,

I'm trying to reproduce UCF101 results, but when I try to fine tune in UCF101 dataset some messages are displayed and the accuracy is very low.

**Displayed Messages:**
_1. Invalid return value 0 for stream protocol
2. [NULL @ 0x7dcac81069c0] Failed to parse extradata
3. [mpeg4 @ 0x7dcacc0a3600] Video uses a non-standard and wasteful way to store B-frames ('packed B-frames'). Consider using t

[2018-06-12 16:56] murilovarges commented on #12
I notice when I run the test script  _"/pytorch/caffe2/python/operator_test/ video_input_op_test.py"_ with some videos from UCF101 same messages are displayed is occurring but test ran with success.

[2018-06-12 23:20] think-high opened #13 "Process aborting with "Insufficient data to determine video format" error when fine-tuning"
Hi, I am trying to fine tune the pre-trained(Kinetics) R2Plus1D model on my dataset. I created the train and test LMDB of my dataset like this:

[code]

The format of the csv files is:
`org_video("the path of videos"),label("integer label of the video")`

And then I run this to train the model:

[code]

But the process is getting aborted with these errors:

[code]
..........
..........
.........
.

[2018-06-13 05:27] dutran commented on #12
If the training/test loss look fine, you can safely ignore the decoding warnings.

[2018-06-13 05:32] dutran commented on #13
Looks like you failed at "SoftmaxWithLoss" layer. In your command, you have --num_labels=89, the layer name at the error is "gpu_1/last_out_L14", that mean you prediction layer has only 14 outputs at softmax, but you label goes out of scope e.g. label >=14. Then you hit this error. Check careful why you input --num_labels=89 why the net still create the last layer with 14 outputs.

[2018-06-13 12:54] murilovarges commented on #13
The integer label of the video must start from 0, here happened some errors when I started from 1.

[2018-06-13 16:00] think-high commented on #13
@dutran : Actually the --num_labels was set to 14 in the script I ran. I just copied the other script here by mistake. My bad. Will correct it now.

@murilovarges : I actually have my labels starting from 1. Let me try this.

[2018-06-13 17:05] dutran commented on #13
Then, changing your labels to start from 0 as @murilovarges suggested will solve your issue.

[2018-06-13 17:20] think-high commented on #13
Hey. So, I did that and the process is not getting aborted and the training is running. But still these warnings are being constantly being generated:
[code]

Can you help me understand the reason and whether it is a problem or not?

Thanks

[2018-06-13 17:23] dutran commented on #13
It looks like, your video does not have some meta data, decoder does not know how to decode.

[2018-06-13 17:23] #13 closed

[2018-06-13 17:27] murilovarges commented on #13
This message is in https://github.com/pytorch/pytorch/blob/master/caffe2/video/video_decoder.cc#L75.

I guess can happen when the video is very small too.

[2018-06-13 17:30] murilovarges commented on #13
Similar issue in https://github.com/facebookresearch/video-nonlocal-net/issues/12

[2018-06-13 17:34] think-high commented on #13
Oh great. This is very helpful. Thanks a lot @dutran and @murilovarges . 👍

[2018-06-13 23:28] AustinVan opened #14 "Kinetics preprocessing"
In the tutorial of training kinetics, we need to pre-process the video as clips(of 10second).   Since the number of video is huge and the total time of each video varies, it may take time to finish the preprocessing.
can you provide your script for this?

[2018-06-14 01:03] msharmavikram opened #15 "Machine guidelines"
Any specific hardware configuration would you suggest performing training with R2+1D model?

[2018-06-14 09:49] cr-hxfan commented on #14
I have a nother question,
For UCF101, do we need to pre-process(like using fmmpeg)  to make the video as clips(of 10 seconds)

[2018-06-14 14:19] cr-hxfan commented on #14
In addition,
in the UCF101 list, there are the only test and train lists.

But where is the validation list? is it incorporated into training list?

[2018-06-14 21:02] think-high opened #16 "What could be the reason of my training accuracy decreasing"
Hey,

I finetuned the pretrained Sports-1m R2Plus1D model on a dataset. And below is how the training and testing accuracy looks like. (Taken from the log that the tools/train_net.py generates on completion)

![train-test accuracy](https://user-images.githubusercontent.com/5360126/41438110-e6010352-6feb-11e8-99d6-a1123db0ffc3.png)

Can you help me understand what could be the reason for the traini

[2018-06-14 21:45] patrickpoirson commented on #16
From reading the code it seems like the average training accuracy is not logged but rather the accuracy for the most recent mini batch.

[2018-06-14 22:33] CHJoanna commented on #8
Add installation guide for Ubuntu 16.04, which is at the 2nd part of the [installation guide](https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/Installation_guide.md).

[2018-06-14 22:33] #8 closed

[2018-06-15 19:48] think-high commented on #16
Oh. I see. That makes sense. But won't it be a better idea to get the overall training accuracy in the log instead? @dutran

[2018-06-15 22:32] dutran commented on #16
it is a design choice, if you choose to do a full evaluation, your training will be slow down.

[2018-06-18 18:54] think-high commented on #16
Makes sense. Cool, Thanks.

[2018-06-19 16:36] think-high commented on #16
@patrickpoirson, @dutran : What about the test accuracy that is written to the log file? That's for the entire testing dataset, right?
PS: I am going to check the code to figure it out, but I just wanted to put the comment still before this issue is closed by someone. I don't want to open another issue for this. [In case I can't figure it out from the code.]

Thanks,
Rahul Bhojwani

[2018-06-22 16:15] think-high opened #17 "What exactly is top5 accuracy?"
Hi,

I couldn't find a clear idea of top5 accuracy based on the paper. And based on my understanding from the code, it looks like it's the accuracy by considering the prediction as correct if any of the top 5 softmax values correspond to the correct label. Can someone help me verify this? And help me get the clear idea of the top5 accuracy?

Thanks,
Rahul Bhojwani

[2018-06-25 21:27] #12 closed

[2018-06-26 16:25] dutran commented on #10
@KamranAlipour have you got your issue solved?

[2018-06-26 16:29] KamranAlipour commented on #10
@dutran I did not try your solution as I ended up not using finetuning on UCF101

[2018-06-26 16:47] #10 closed

[2018-06-27 03:47] mkummer225 opened #18 "Training .mdl to Predictor"
Hey team,

Thanks for all your awesome work in Spatio-Temporal CNNs! I had a couple quick questions about going from a trained model (.mdl format) to a standalone predictor.

I was able to successfully build the environment and train the R(2+1)D model on my own dataset but now that I've got my trained .mdl file I've been struggling to find documentation on how to go from the trained/training model

[2018-07-02 08:36] wenjie710 opened #19 "Error occured when trying to finetune the pre-trained model on hmdb51"
Hey,
I am trying to finetune the model on hmdb, but when I run the scripts tools/train_net.py, an error occured. Do you know how to fix it? Which version of caffe2 do you use, the official caffe2 or your personal fork of caffe2?

Traceback (most recent call last):
  File "train_net.py", line 501, in <module>
    main()
  File "train_net.py", line 496, in main
    Train(args)
  File "train_net.py",

[2018-07-02 17:04] dutran commented on #19
@wenjie710 the latest caffe2 should have VideoInputOp (https://github.com/pytorch/pytorch/tree/master/caffe2/video)

[2018-07-03 07:30] wenjie710 commented on #19
Thanks very much! It works now.

[2018-07-03 07:30] #19 closed

[2018-07-03 11:49] wenjie710 opened #20 "error when finetune hmdb51"
Hi,
When I tried to finetune the pre-trained model on hmdb51 by running the scripts "tools/train_net.py", I got this error over and over again and it never continues to the training part. It seems like there is something wrong with the video processing or the video itself. I'm so confused and don't know what to do. Did I miss something? Should I pre-process the video like what we do with kinects?

[2018-07-06 21:34] dutran commented on #20
I think these are just decoder warnings for different type of video format? Does the fine-tuning task got failed or you just see warnings?

[2018-07-07 12:37] liu-zhy opened #21 "caffe equivalent of iter_size in caffe2?"
Iter_size in caffe solver enables to perform backpropagation after a number of forward passes defined by the value of iter_size. Hence, allowing an increased batch size without GPU memory restriction.
Is there an equivalent in caffe2 that can be used with optimizer.build_sgd?

[2018-07-11 12:17] #20 closed

[2018-07-11 12:53] wenjie710 opened #22 "How to finetune the optical model on my own dataset?"
Hi @dutran,

Thanks a lot for your answer to my last several questions. Now I am trying to finetune the pre-trained optical model on my own datasets, and I get another two questions:

1.how to generate optical flow from raw rgb videos?
2.how to finetune the optical model on the optical flow images generated from my datasets?

Could you please give me some advice or release the code for it?

[2018-07-12 02:03] wenjie710 opened #23 "What is the difference between clip1 accuracy and video accuracy?"
Table 4 in the paper shows the clip1 accuracy and video1 accuracy of different methods, but I am confused about the difference between this two accuracies. It seems that the video1 accuracy is higer than clip1 accuracy.

[2018-07-12 16:56] murilovarges commented on #22
Hi @wenjie710,

1. You don't need to convert raw RGB videos to optical flow, the caffe2 framework does this automatically.
2. Se this thread [https://github.com/facebookresearch/R2Plus1D/issues/7], for details of how finetune OF model.

[2018-07-12 17:03] murilovarges commented on #23
Hi @wenjie710,

A video is composed of many clips (e.g. each clip with 32 frames), so clip1 accuracy is the rate of correct classification per clip. While Video accuracy is the rate of correct classification of a video after doing dense prediction aggregation "[dense_prediction_aggregation.py](https://github.com/facebookresearch/R2Plus1D/blob/master/tools/dense_prediction_aggregation.py)" using al

[2018-07-12 17:13] dutran commented on #23
Thank @murilovarges for helping. As murilovarges mentioned, you can use dense prediction to compute the video-level accuracy. Alternatively, depend on you GPU memory, some small models or model trained on short-clips (8-frame or 16-frame clips), you can use test_net.py to test which can aggregate prediction from 10-clips per video.

[2018-07-12 17:13] #23 closed

[2018-07-12 17:18] murilovarges commented on #14
Hi @AustinVan and @cr-hxfan,

The caffe2 framework has tools to preprocess videos ([Caffe2 Video tools)](https://github.com/pytorch/pytorch/tree/master/caffe2/video). So you don't need split videos in clips (e.g. clips with 32 frames).

Basically, you need to create an LMDB dataset with raw videos to do temporal jittering [(Example LMBD with Raw Videos)](https://github.com/facebookresearch/R2Plus1

[2018-07-12 17:19] dutran commented on #22
Thank @murilovarges  for your helps. In fact, VideoInputOp (https://github.com/pytorch/pytorch/tree/master/caffe2/video) allows to compute optical flow on-the-fly. You can adjust the fine-tuning script (https://github.com/facebookresearch/R2Plus1D/blob/master/scripts/finetune_hmdb51.sh) with extra-parameters as used in (https://github.com/facebookresearch/R2Plus1D/blob/master/scripts/extract_featu

[2018-07-12 17:19] #22 closed

[2018-07-13 08:33] DuJiajun1994 opened #24 "Method VideoInput is not a registered operator"
I use Pre-Built Binaries to install Caffe2 (conda install -c caffe2 caffe2-cuda8.0-cudnn7). During feature extraction, I get an error as following. Why is VideoInput not registered?

Traceback (most recent call last):
  File "tools/extract_features.py", line 292, in <module>
    main()
  File "tools/extract_features.py", line 287, in main
    ExtractFeatures(args)
  File "tools/extract_features.py

[2018-07-13 15:21] think-high opened #25 "What does this warning mean: "Failed to parse extra data." when extracting features"
When extracting features, I am getting this warning:

![feature extraction warning](https://user-images.githubusercontent.com/5360126/42699477-8105c026-8686-11e8-8e7b-f8e1ba0d54e1.png)

What does this warning mean?

[2018-07-15 14:45] dutran commented on #25
You can just ignore those ffmpeg warnings.

[2018-07-15 14:45] #25 closed

[2018-07-15 14:48] dutran commented on #24
Make sure that you compile caffe2 correctly and set the LIBRARY_PATH and PYTHON_PATH correctly point to caffe2. Please check https://caffe2.ai/docs/faq.html

[2018-07-15 14:48] #24 closed

[2018-07-16 02:39] nayyeraafaq opened #26 "Feature vector dimensions"
Hi everyone,
The paper says that dimensions of fc layer is 400 for kinetics and 512 for pooling. Is that the right ? Does any model offers 4096 dimensions feature vector extraction ? Can we perform feature extraction of own videos on this network for other applications use?
Thanks

[2018-07-16 19:37] #14 closed

[2018-07-16 19:39] AustinVan opened #27 "How to run R2Plus1D on CPU"
How to run the training on CPU?

Does it support now?

[2018-07-17 01:12] dutran commented on #27
@AustinVan do you mean testing? since it does not make sense for training. For test_net, @CHJoanna can simply send a PR?

[2018-07-17 01:14] dutran commented on #26
Yes, the output of R(2+1)D-18 and -34 model provides feature at pool-5 is 512-dim, I plan to release soon a  R(2+1)D-50 with 2048-dim feature output.

[2018-07-17 08:08] #21 closed

[2018-07-19 20:22] cdeepakroy opened #28 "Pre-trained models on Sports 1M dataset"
Kudos to the developers of this great repo!

It would be great if you could release the pre-trained models of C3D, R3D and R(2+1)D on Sports 1M dataset whose results are reported in Table 4 of your paper [A closer look at spatio-temporal convolutions for action recognition](https://arxiv.org/abs/1711.11248). I am trying to benchmark these models on a custom dataset that is more closer to Sports 1M

[2018-07-20 20:11] think-high commented on #26
Wow. This sounds good. Even I would be looking forward to the R(2+1)D-50 with 2048 feature output.

[2018-07-20 20:37] think-high opened #29 "What happens when I pass a different crop size during feature extraction then the crop size used in the training?"
Hi,

I am using the pre-trained models provided in this repo, to extract features. I have a couple of questions regarding the crop-size argument:

1). If I let the crop-size be the default (i.e 112) then it crops the video to that size instead of resizing, right?
2). What If I don't want to crop the video because my video's dimension is way larger. Then what happens if I pass a different value to

[2018-07-20 21:05] think-high commented on #29
Okay, I throws an error if I give a different crop size, which is what I expected. So, if I need to let it take the entire width and height then should I am guessing that I need to change the scale_h and scale_w to 112, right? Assuming that it resizes the image to scale_h x scale_w.

Can you put some light on that? TIA

[2018-07-20 22:34] cdeepakroy opened #30 "extract_features does not produce features for all videos due to error in calculation of num_iterations"
I was trying to extract video descriptors from my videos using [tools/extract_features.py](https://github.com/facebookresearch/R2Plus1D/blob/master/tools/extract_features.py).

I found the number of features in the output pickle file to be less than the number of videos in the lmdb file created using `data/create_video_db.py`.

After a bit of debugging, I suspect there is an error in the way `num_

[2018-07-20 22:50] cdeepakroy commented on #30
I just tried running the `extract_features.py` script with the correction proposed above on an lmdb file with 70 videos with `batch_size=16` and `num_gpus=2` and I got the following for `video_id` in the pickle file

[code]

Since `num_iterations=3` it seems to have duplicated the first 26 video_id values.

Anyone has a clue what is happening here?

[2018-07-24 06:29] nayyeraafaq commented on #8
CMakeFiles/Makefile2:1401: recipe for target 'caffe2/CMakeFiles/caffe2_gpu.dir/all' failed
make[1]: *** [caffe2/CMakeFiles/caffe2_gpu.dir/all] Error 2
Makefile:138: recipe for target 'all' failed
make: *** [all] Error 2

Everything works untill caffe2 installation. But I am getting above error when try to install caffe2. My cmake summary is as below: Could anyone please help what's wrong with my i

[2018-07-24 19:00] dutran commented on #30
A simple fix is to use 1 more iteration (as you suggested), then ignore the redundancy features. Note that one video can have multiple clips, so to have a correct alignment, you may want to use video_id as clip_id.

[2018-07-24 19:02] dutran commented on #29
Currently it works with crop_size 112x112 and length clip is a multiplier of 8. If you like to do something like FCN, you need to modify the final global pooling kernel size.

[2018-07-24 19:09] dutran commented on #28
Yes, we should be able to release those models on Sports-1M, I'll keep you posted here.

[2018-07-24 20:16] wenjie710 opened #31 "extract_features.py produces feature that is all the same for all the videos"
I am using my own dataset and  I have made the database as you said. However when I tried to extract features using extract_features.py, I got confused results.
I printed the features and found that the softmax layer gives the same number,
like
(Pdb) activations
array([[0.01111111, 0.01111111, 0.01111111, 0.01111111, 0.01111111,
        0.01111111, 0.01111111, 0.01111111, 0.01111111, 0.01111111,

[2018-07-25 02:43] XiongChengxin opened #32 "Questions about add new layers"
Dear author,
Thanks for your great work. I met errors when I tried to add new layers to R2Plus1D， could you give me some advice? We know the temporal dimension of the output of the final conv is 1/8 of the original, so I want to add ConvTranspose layer to make it back. My code and error message are as follows, I wrote all of the needed arguments but I still met the same error, so I have no idea wh

[2018-07-26 01:19] dutran commented on #27
@AustinVan check out @CHJoanna's PR.

[2018-07-26 01:19] #27 closed

[2018-07-26 02:56] nayyeraafaq opened #34 "CMakeFiles/Makefile2:1401: recipe for target 'caffe2/CMakeFiles/caffe2_gpu.dir/all' failed make[1]: *** [caffe2/CMakeFiles/caffe2_gpu.dir/all] Error 2 Makefile:138: recipe for target 'all' failed make: *** [all] Error 2"
Hi all,
I am trying to set the conda environment for the project as mentioned in installation guide. I have been able to set everything till Build Caffe2.
After cloning pytorch, when I run cmake in build I get this summary. In summary it shows CUDA 9.2 and cudnn 7.1.4 and other details like opencv 3.4.0 and so on.
But down the line it shows following error

(1) [Could not find a package configurat

[2018-07-26 14:59] cdeepakroy commented on #30
@dutran Thanks for the reply.

I compared the feature vectors with the same clip_id aka video_id and they are not the same.

Also, i noticed that the feature vectors are slightly different for each run. Is this expected? Is there anything random in the feature extraction process? When it does a crop after resizing, does it compute the central crop  (of size 112 x 112) or does it do a random crop?

[2018-08-12 15:43] abhilashi opened #35 "Error while extracting features"
[code]

I'm on Ubuntu 16.04. This happens when I run the following:

`python tools/extract_features.py --test_data=../dups_lmdb_data --model_name=r2plus1d --model_depth=34 --clip_length_rgb=32 --batch_size=4 --load_model_path=./trained/r2.5d_d34_l32_ft_sports1m.pkl --output_path=dups_features.pkl --features=softmax,final_avg,video_id --sanity_check=0 --get_video_id=1 --use_local_file=1 --num_label

[2018-08-12 15:45] abhilashi commented on #35
@dutran appreciate any leads/tips to debug this :)

[2018-08-12 18:08] abhilashi commented on #35
@dutran thanks for the quick reply. Trying GPU now 👍

[2018-08-12 18:08] #35 closed

[2018-08-13 12:43] abhilashi opened #36 "SIGABRT while running extract features"
[code]

Anyone else who has seen this issue? CC @dutran

[2018-08-13 13:06] abhilashi commented on #36
It works well when I specify a single GPU.

[code]

[2018-08-24 09:35] liqima opened #37 "does examples in tutorials run with GPU?"
I install opencv and caffe2 follow  [this](https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/Installation_guide.md) using Ubuntu 16. Them I paste example code [here](https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/feature_extraction.md) to do feature extraction.
code:
python tools/extract_features.py \
--test_data=/home/maliqi/Desktop/c3d/R2Plus1D/my_lmdb_data \

[2018-08-24 16:58] dutran commented on #37
I need to have GPU for feature extraction (for now the script is just supported GPU). We don't see a real use case where feature extraction is running on CPU.

[2018-08-24 16:58] #37 closed

[2018-08-25 01:06] dutran commented on #32
It said "conv_transpose() takes at least 6 arguments (11 given)" which mean you gave more arguments than needed.

[2018-08-25 01:06] #32 closed

[2018-09-13 08:08] 953585130 opened #39 "ImportError: No module named models.model_builder"
Hi，
I have built the environment according to the tutorial. I want to do a test with two small videos. I created the lmdb database through the script, but when I executed the script to extract the features, I made an error. I tried to modify the path and still failed. Solve, hope to get your help, thanks.

ThinkStation:~/R2Plus1D-master$ sh scripts/extract_feature_myvideos.sh
Traceback (most recen

[2018-09-13 16:40] CHJoanna commented on #39
Do ```export PYTHONPATH=$PYTHONPATH:`pwd`/lib``` under root directory.
(See tutorials/faq)

[2018-09-17 11:39] MuchaoYe commented on #2
Hi, currently I meet a problem the same as yours. Could you tell me how did you solve your problem?

[2018-09-19 05:46] dutran commented on #31
@wenjie710 can you try again?

[2018-09-19 05:58] dutran commented on #30
@cdeepakroy try this https://github.com/facebookresearch/R2Plus1D/pull/40

[2018-09-19 05:58] #30 closed

[2018-09-19 05:59] dutran commented on #39
@953585130 does it work for you?

[2018-09-19 06:02] dutran commented on #36
seems like memory issue.

[2018-09-19 08:09] 953585130 commented on #39
@dutran Since it was more urgent at the time, I copied the models and utils in the lib folder to the tools folder and then executed it. At the beginning of the tutorial, I said that I tried to test on the cpu. However, I can't perform feature extraction on the cpu. I am trying gpu.

[2018-09-19 08:11] 953585130 commented on #39
@CHJoanna Thank you for your reply! Since it was more urgent at the time, I copied the models and utils in the lib folder to the tools folder and then executed it. At the beginning of the tutorial, I said that I tried to test on the cpu. However, I can't perform feature extraction on the cpu. I am trying gpu.I can try this method on gpu.

[2018-09-20 19:07] cdeepakroy opened #41 "how to convert pretrianed caffe2 R2Plus1D models to pytorch?"
How can i convert the pretrained caffe2 R2Plus1D models listed [here] (https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/models.md) into a pytorch model for fine-tuning on a custom dataset? I will be happy to contribute the models back once i succeed.

[2018-09-23 08:08] XiongChengxin opened #42 "Cannot create operator of type 'MSRAFill' on the device 'CUDA'"
I noticed there are two similiar issues, but the difference is I have GPU. I install my caffe2 referring to https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/Installation_guide.md , my error message is as follows.

Traceback (most recent call last):
  File "/data/xiongcx/R2Plus1D/R2Plus1D-master/tools/train_net.py", line 509, in <module>
    main()
  File "/data/xiongcx/R2Plus1D/R

[2018-09-27 01:56] XiongChengxin commented on #41
Could it be possible to according to the architecture of pytorch model and caffe2 model, adjust the parameters of each layer and save?

[2018-09-27 07:59] yanqian123 opened #43 "download the models"
thank you to share the project for us, but i am sorry to say i couldn't  download the pre-trained model, could you give me another way to download it, thanks again

[2018-10-04 22:10] kateiyas commented on #19
@wenjie710 Can you write how you solved this issue, please? I also see it.

[2018-10-05 10:47] 953585130 opened #44 "AttributeError: Method VideoInput is not a registered operator. Did you mean: []"
Hi,
Thank you for the open source code provided! I have installed gpu support as per the tutorial, and I get an error when I execute the script that extracts features.

AttributeError: Method VideoInput is not a registered operator. Did you mean: []

I tried to debug or reported the same error, I hope to get your help!

[2018-10-05 11:42] kateiyas commented on #44
I get the same error after successfully installing caffe2 and pytorch in a local anaconda installation with:

`conda install pytorch-nightly torchvision -c pytorch`

Would be great to get help here.

[2018-10-06 04:36] 953585130 commented on #44
@kateiyas
Thank you for your reply, but I didn't understand what you mean. Do you mean that you used anaconda to install caffe2 and pytorch and the same error occurred? But what should be done? I searched the Internet for a long time, probably said that it may be related to opencv, I tried to recompile the version but still have the same problem. I really don't know how to solve this problem.

[2018-10-06 15:28] kateiyas commented on #44
@953585130: Yes, I got the same error `AttributeError: Method VideoInput is not a registered operator. Did you mean: []`. The error was thrown after following the tutorial for feature extraction, calling `extract_features.py` (which I mention in my reply). I have also described it [here](https://github.com/pytorch/pytorch/issues/12401).

[2018-10-08 04:15] greathope opened #45 "build error"
I have done exact steps following this [installation_guide](https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/Installation_guide.md), but when executing `sudo make -j8 install `, error occurs

[ 11%] Built target libprotobuf
Scanning dependencies of target common
Scanning dependencies of target mkrename
Traceback (most recent call last):
  File "/home/hope/pytorch/cmake/../aten/sr

[2018-10-08 12:02] greathope commented on #45
@953585130 actually I have installed yaml ...

[2018-10-08 12:30] 953585130 commented on #44
@kateiyas
I have solved this problem and I have re-downloaded other versions of pytorch, which supports VideoInput. You can try another version, the version given by the tutorial has a problem or it was not fully cloned when cloning.

[2018-10-08 15:05] greathope commented on #44
@953585130  can you please tell me which version of pytorch you are using?

[2018-10-08 17:28] orionr commented on #44
The default binary builds are generated without OpenCV and ffmpeg dependency, which means that these operators (all of those under caffe2/video/) aren't built. You'll need to build from source to have these operators available.

We should update the R2Plus1 tutorial to make a note of this.

[2018-10-08 22:57] orionr commented on #19
Unfortunately Caffe2 will need to be built from source in order to include an OpenCV and ffmpeg dependency required for those operators to be built. The binary install doesn't include these because we didn't want the additional dependencies. cc @pjh5

[2018-10-09 01:27] 953585130 commented on #44
@greathope @kateiyas
Starting with a new system, I installed cuda8.0 and cudnn6.0 directly after installing the graphics driver. The next steps I followed were tutorials installed step by step.

Follow the tutorial to clone pytorch, the entire pytorch is about 300MB. I searched online for a tutorial on installing caffe2, one of which has a pytorch zip file, which is 400MB after decompression. Then

[2018-10-09 12:32] greathope commented on #44
@953585130 could you please send that file to my email? my email is zhangmiaoatzju@gmail.com or zhangmiaoatzju@163.com, many thanks!!!

[2018-10-09 14:19] 953585130 commented on #44
@greathope
I have sent it to your 163 mailbox, you can try to solve your problem.

[2018-10-10 06:52] 953585130 commented on #44
@greathope
Do you have qq, we can discuss it together.

[2018-10-11 00:25] moaljazaery opened #47 "Remove depedency on VideoInput layer"
I am trying to build live demo taking on fly sample to classify. How can I remove the dependency on  the VideoInput layer?

[2018-10-11 01:49] 953585130 opened #48 "Error executing sh scripts/extract_feature_hmdb51.sh, Cannot open file: r2plus1d_8.mdl"
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number of middle filters: 576
INFO:video_model:Number

[2018-10-11 05:54] greathope commented on #44
@953585130 sure, my qq is 1215714511~

[2018-10-11 09:53] kateiyas commented on #44
Just a note for people stumbling over this thread: As of to date, building pytorch from source with `USE_FFMPEG=1` and `USE_OPENCV=1` does **not** build the Caffe2 video operators that are necessary for R2Plus1D to work. Theoretically building pytorch (+caffe2) from source via `USE_FFMPEG=1 USE_OPENCV=1 USE_LEVELDB=0 USE_LMDB=1 python setup.py install` should solve the issue in the thread, but it

[2018-10-11 11:30] ydzheng1993 opened #49 "It's hard to finetune the R2D-18"
I downloaded some models from Tutorial 5, and finetuned them on the UCF-101. Most of them work very well. But I found the pre-trained R2D-18 model is hard to finetune and improve the accuracy.  Is it possible that the link is wrong?

[2018-10-11 12:16] 953585130 commented on #44
@kateiyas
The compressed file has been delivered to your mailbox, and the rest will be installed according to the tutorial.

[2018-10-11 12:36] liu-zhy commented on #49
I have the same problem.

[2018-10-11 12:53] 953585130 commented on #48
@dutran
I did not find the corresponding file in the pre-training model provided in Tutorial 5. The pre-training models provided are all pkl files, no mdl files. Is there no release of r2plus1d_8.mdl or is there a problem with my environment?

for ((i=1;i<=2;i++)); \
do \
python tools/extract_features.py \
--test_data=/data/users/trandu/datasets/hmdb51_feature_extraction/hmdb51_test_01_video_id_de

[2018-10-11 15:17] orionr commented on #44
Also, @kateiyas, a heads up that `USE_FFMPEG` wasn't passed through `setup.py` until https://github.com/pytorch/pytorch/pull/12543 landed, which was yesterday. If you could retest with latest master (`git pull; git submodule update`) that would be great, but feel free to use the compressed file as well.

[2018-10-11 17:27] dutran commented on #44
@kateiyas can you try the latest pytorch master as mentioned by @orionr , if it does not work, we can re-open it. thanks.

[2018-10-11 17:30] dutran commented on #47
@moaljazaery if you have some video loader written in python, and perform the transformations (re-scale, crop, normalize etc. as done in VideoInputOp), then we can do inference completely in caffe2 (python land). But I suggest to be very careful to have the same set of transformation (color channel order, etc) so that you can have the best accuracy.

[2018-10-11 17:39] dutran commented on #41
@cdeepakroy yes, you can because models now are just sets of pickle blobs.

[2018-10-11 19:12] dutran commented on #43
Here they are: https://drive.google.com/drive/folders/141ZmpOfFo_Bfb6gFXh30SvVGnAgapA-l

[2018-10-11 19:12] #43 closed

[2018-10-11 19:20] dutran commented on #48
I think the models are supposed to be downloaded from here: https://github.com/facebookresearch/R2Plus1D/blob/master/tutorials/models.md

[2018-10-12 13:10] kateiyas commented on #44
@dutran @orionr The new master seemed to get me around the video operator bug.

(Running feature extraction still did not work because R2Plus1D will only work with GPU support, i.e. my `NO_GPU=1` is not possible. If I compile with GPU support I get a segmentation fault now. )

[2018-10-15 03:53] yanqian123 commented on #43
thanks a lot

[2018-10-15 06:36] #49 closed

[2018-10-15 12:27] 953585130 commented on #48
@dutran
I have solved this problem. When I successfully fine-tune the hmde51 dataset, the r2plus1d_8.mdl file is automatically generated. This is the result: INFO:train_net:Test accuracy: 0.605

After the fine-tuning is over, I plan to follow the tutorial to achieve dense predictions. This problem occurs when I execute sh scripts/extract_feature_hmdb51.sh:
[mpeg4 @ 0x7ebe90082d60] Video uses a non

[2018-10-15 21:03] dutran commented on #48
I expect very little impact on the results.

[2018-10-15 21:03] #48 closed

[2018-10-16 06:52] XiongChengxin commented on #41
@cdeepakroy Hi, Have you successed in converting caffe2 model into pytorch?

[2018-10-16 14:03] gurkirt opened #50 "training on 2 GPUs"
I am training trying to train your model on 2 GPUs as shown in your script.
scripts/train_r2plus1d_kinetics.sh
Is it right that epoch size is 1M? Will I be able to reproduce your result in table 2 of paper using that script? I would just need to change the model type?

[2018-10-16 14:08] gurkirt commented on #50
Another question about optimization step. Does parameter update by SGD is done every iteration or 64 training clips in case of 2 GPUs? Or is there any other of asynchronous implementation of SGD is being used?

[2018-10-16 16:18] dutran commented on #50
1) yes (at the end of page 5: " Although Kinetics has only about 240k training videos, we set epoch size to be 1M for temporal jittering"). You supposed to get those numbers in table 2 using test_net.
2) yes.

[2018-10-16 16:18] #50 closed

[2018-10-16 18:06] moaljazaery opened #51 "Deploy R2Plus1D model"
How to deploy the model and generate init_net and predict_net model files?

[2018-10-16 18:11] dutran commented on #51
@moaljazaery I believe this could be the same as caffe2 model.

[2018-10-17 09:10] gurkirt commented on #50
Thank you very much for your reply.
I am trying to reproduce your results from Table 2 in Pytorch. I am starting form R3D model.
Base model type is resnet 18.

Input transformations are the random crop to the entire input sequence, random horizontal flip, and normalisation with mean and std. Am I missing something?

You mentioned temporal jittering, what is that?

Many thanks,
Gurkirt

[2018-10-17 09:11] gurkirt commented on #50
Also, where are input transformations are specified in this code?

[2018-10-17 10:33] gurkirt commented on #50
I am training the networks from scratch like you and see if I can reproduce your results using just 2 GPUs?

[2018-10-17 18:04] #51 closed

[2018-10-17 18:06] dutran commented on #50
you should be able to do so. The transformations are implemented in VideoInputOp in caffe2 (pytorch).

[2018-10-19 23:04] #29 closed

[2018-10-22 02:19] leluoye opened #52 "different test accuracy when test the same dataset"
Hi,
@dutran, thank you for your great work.
I finetuned the r2+1d model on my own dataset using train_net.py, then I got the best test accuracy 0.72 and the corresponding model r2plus1d_3.mdl. However, when I use the same test dataset and the r2plus1_3.mdl to run test_net.py, the test accuracy is low, it is about 0.2. And I also tried to extract features using extract_features.py and then got the

[2018-10-22 02:49] leluoye opened #53 "the test accuracy of the same test dataset is different when using the same model"
Hi,
@dutran , thank you for your great work.
I finetuned the r2plus1d model on my own dataset using train_net.py, then, I got the best test accuracy 0.72 and the corresponding model r2plus1d_3.mdl. However, when I use the same test dataset and the r2plus1d_3.mdl to run test_net.py, the test accuracy is low. It is about 0.2. And I also tried to extract the features using extract_features.py and the

[2018-10-23 07:34] #52 closed

[2018-10-23 19:00] dutran commented on #53
It is hard to tell why it gives you different performance since you did not provide enough data/info here. But it's worth for you to check if you have the same hyper-parameter settings with train_net vs. test_net and featture_extraction?

[2018-10-24 11:32] leluoye commented on #53
Thank you for your response.
Follow the guideline, the .csv file of input data in train_net and test_net is "org_video, label", the .csv file of input data in feature_extraction is "org_video, label, start_frm, video_id". Then, I create lmdb file. The hyper-parameters setting with train_net, test_net and feature_extraction are shown in the picture.
![image](https://user-images.githubusercontent.co

[2018-10-24 14:30] cr-hxfan commented on #9
Hi, @dutran   May I know how much the accuracy improved by temporal jittering?  Did you test it before?
Thanks in advance.

[2018-10-24 14:31] cr-hxfan commented on #14
@murilovarges Thanks for the reply.

[2018-10-24 14:46] cr-hxfan commented on #9
@dutran Also, it seems like your code in GitHub didn't use temporal jitter?

In the model helper, you set the "clip_per_video" as 1:
https://github.com/facebookresearch/R2Plus1D/blob/54d93222f80cd23a87c7dbda6044b3fae07b3fda/tools/train_net.py#L249

When it is 1, it seems like the "clip_stat" is alway 0, which can be seen from the source code of caffe2,
https://github.com/pytorch/pytorch/blob/ca03c

[2018-10-30 17:02] isalirezag opened #54 "(2+1)D Convolution implementation"
I want to use (2+1)D Convolution in my work, but i cannot find how to implement it, can you please guid me to the correct path to learn it?
Thanks

[2018-11-25 04:15] nicebaby commented on #53
@leluoye Hi，does it work for you?

[2018-12-10 19:46] LeoniekevandenBulk opened #55 "FPS of video input"
I was wondering if it is correct that you do not encode your video input in a specific FPS, but just keep the FPS that comes with each video? Does this mean that the models should work on video input with any FPS (within reasonable bounds of course)?

Thanks!

[2018-12-10 19:51] ChaitanyaBoggavarapu opened #56 "Reg : Testing Model"
I am trying to just use pretrained models to test. How do I generate clips for test data is that using ffmpeg or clips are generated in test_net.py?

[2018-12-10 20:41] ChaitanyaBoggavarapu commented on #56
![screenshot from 2018-12-10 13-35-51](https://user-images.githubusercontent.com/26795676/49760140-dedf7500-fc80-11e8-8209-aabe357e06ae.png)

this is the output which i got but not sure I am doing it right. I used r2.5d_d18_l16.pkl model

[2018-12-10 22:34] dutran commented on #55
For UCF101 and HMDB the videos are used the same as provided in the dataset because they already trimmed. For Kinetics, videos are trimmed into 10' clips using ffmpeg with a specific FPS (e.g. 15 fps or 30 fps).

[2018-12-10 22:34] #55 closed

[2018-12-10 22:35] dutran commented on #54
Check out these https://github.com/facebookresearch/VMZ/tree/master/tutorials

[2018-12-10 22:35] #54 closed

[2018-12-10 22:37] dutran commented on #56
Check out this https://github.com/facebookresearch/VMZ/tree/master/tutorials

[2018-12-10 22:37] #56 closed

[2018-12-11 00:00] ChaitanyaBoggavarapu commented on #56
Thanks...what would be the ideal test size to test(I am running using CPU)

[2018-12-11 09:52] alexanderfrey opened #57 "Detection of events in sport games"
Hello everybody and thanks for this nice work !

I plan on implementing an event detection system that is capable of detecting events in basketball. Do you guys think this work might be able to do such detections in high res video ?

Thanks for any suggestions !

Best
Alexander

[2018-12-11 13:10] LeoniekevandenBulk commented on #55
But in the download script for the Kinetics dataset, there seems to be no indication of any FPS encoding in the ffmpeg command: https://github.com/activitynet/ActivityNet/blob/master/Crawler/Kinetics/download.py#L100, or does it happen somewhere else?

[2018-12-13 13:21] malege opened #58 "Training Kinetics from scratch"
I want to train Kinetics from scratch,but videos i downloaded  were  with a irregular names,were not youtobeid name,is this normal ?all videos are in /tmp/kinetics  dir,is not my point to dir "kinetics-400_train",is anyone meet this?

[2018-12-20 12:56] nerdykamil opened #59 "Feature Extraction for videos in real time"
Hey, thank you for the great work. I was able to extract features through feature extraction script and train model using those features. I was wondering how can I tweak this script to get features of video in real time, as what could be the list file in that case.

[2018-12-20 14:49] LeoniekevandenBulk commented on #55
@dutran, let me rephrase my question. I was trying to figure out with which FPS the pretrained models were trained. I want to know this because I am using the R(2+1)D model for classification on a different dataset, but I am not sure if I need to encode the FPS as the exact same as the model was trained on.

[2018-12-20 14:55] dontLoveBugs commented on #41
Hi, I also want to know how to  convert the pretrained caffe2 R2Plus1D models.  Have you successed？

[2018-12-20 18:21] dutran commented on #55
@LeoniekevandenBulk the models provided in [https://github.com/facebookresearch/VMZ/blob/master/tutorials/models.md] were trained on 15 fps [we will soon update models trained on full 30 fps].

[2018-12-20 18:25] dutran commented on #59
Currently that script uses VideoInputOp that need to run by mini-batch. Alternatively, you can write a simple video loader (using python opencv or something similar python ffmpeg) to read video from file or live webcam/camera, then preprocess (scale, crop, normalize), then feed them to the workflow for inference only. I wish I can do this when I have time. So this is in my wish list, since it will

[2018-12-20 18:25] #59 closed

[2018-12-20 18:27] #47 closed, assigned to nobody

[2018-12-20 20:56] LeoniekevandenBulk opened #60 "Normalization of input"
I am trying to use the pretrained models in pytorch and am therefore writing a replacement for the VideoInput layer, but I am not sure on the exact normalization that was used on the input. And is it scaled between -1 and 1 or 0 and 1 at the end? It would be very helpful if this could be elaborated on.

Thanks!

[2018-12-21 07:12] shuzhaolei opened #61 "Why there is no maxpool layer after Conv1?"
Why there is no maxpool layer after Conv1?
Based on ResNet, I think it should be a maxpool layer around R2Plus1D/lib/models/r3d_model.py line179. But in your code, I couldn't find one.

Waiting for your answer, thx!

[2018-12-21 07:16] shuzhaolei commented on #61
And I am trying to re-implement your work with PyTorch. I don't know coding differences between PyTorch and Caffe2 exactly.

[2019-01-05 01:48] 953585130 commented on #44
@shanshuo
Has been sent to your mailbox.

[2019-01-05 08:55] yunfei-shi opened #62 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte"
I'm using python3.6 and run the extract_features.py, but with error of UnicodeDecodeError, I changed the code 'import cPickle as pickle' to 'import pickle' in lib/utils/model_loader.py as there is no cPickle in python3, does this make de mistake?

the error info:
File "tools/extract_features.py", line 328, in <module>
    main()
  File "tools/extract_features.py", line 323, in main
    ExtractFeat

[2019-01-07 06:42] malege opened #63 "dense prediction on ucf101 split1"
I have finished  fine-tune R(2+1)D-34 model on ucf101 and want to evaluate the fine-tuned model.How can i generate .csv  files include  paths to local files,video_id for each video and also starting frame for each clip  like "hmdb51_test_01_video_id_dense_l32_1.csv" and "kinetics_val_full_video_id_dense_l32_1.csv"? The list files i downloaded  not  include these ucf files.@dutran  Can you help me?

[2019-01-11 08:41] ohtake commented on #62
I had the same issue.
Python 3's pickle requires encoding specified.
https://github.com/ohtake/VMZ/commit/41800f475ef09624ecf1461bb19f1e5ee2edf0ac will help you to run VMZ on Python 3.

[2019-01-12 05:36] yunfei-shi commented on #62
it works now! thanks!

[2019-01-29 05:18] pchunduri6 opened #66 "Error when running the test script"
I've been trying to run the test script (test_r2plus1d_kinetics.sh) provided in the scripts folder of the repository to run a pretrained model on the kinetics validation dataset. However, I face the error "dim() called on undefined Tensor" when doing this. I've tried to localize the error and believe that it is being caused in the "workspace.CreateNet" function because the input blobs to this func

[2019-01-29 14:55] HamedSmart opened #67 "Error when running the test script"
Hello, thank you very much for your great work. I have faced a problem after successfully building caffe2. When running the test script, I have a problem as follows:
 return func(*args, **kwargs)
RuntimeError: dim() called on undefined Tensor

[2019-01-31 18:51] HamedSmart commented on #66
Hello, Have you solved the problem? I have got the same problem.

[2019-02-18 13:43] 953585130 opened #68 "Start_frm is starting from 0. What is the criterion for ending?"
Hello there,
I've fine-tuned my own dataset, and then I want to use csv files to extract features for intensive prediction. The beginning of the csv file is org_video, label, start_frm, video_id; start_frm starts from 0, so how to determine the size of the end frame?
I hope to get your help, thank you very much!

[2019-02-22 19:01] bjuncek commented on #68
You need to calculate that on your own I think. You can do that by using opencv capture FRAME_COUNT property.
[code]

also, take a look here - might be useful
https://github.com/kenshohara/3D-ResNets-PyTorch/blob/master/utils/n_frames_kinetics.py

[2019-02-22 20:00] #67 closed

[2019-02-22 20:18] astaileyyoung commented on #67
Is there a solution to this problem or otherwise knowledge of the cause or possible causes? I have had this issue as well despite several attempts following the installation instructions.

[2019-02-26 04:47] jinwchoi opened #69 "RuntimeError: dim() called on undefined Tensor"
Hi @dutran, thank you for releasing the code.
I am trying to run hmdb finetuning.
But I got this error.

Ignoring @/caffe2/caffe2/contrib/nccl:nccl_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops_gpu as it is not a valid file.
[E init_intrinsics_check.cc:43] CPU feature avx is present on your ma

[2019-02-26 07:53] liqima opened #70 "something wrong using caffe2 installed with anaconda"
Hi, I installed caffe2 with anaconda, and something wrong when I run tools/extract_features.py
`Traceback (most recent call last):
  File "extract_features.py", line 334, in <module>
    main()
  File "extract_features.py", line 329, in main
    ExtractFeatures(args)
  File "extract_features.py", line 134, in ExtractFeatures
    devices=gpus,
  File "/home/maliqi/anaconda2/envs/detect/lib/python2.

[2019-02-28 12:43] lrd8715923 commented on #44
@953585130
Hi could you also send me the compressed pytorch file.I can't build it sucess.
my emil:424079971@qq.com
Thanks.

[2019-03-03 08:53] shenqiang-Yuan commented on #70
hi, i have encountered with the same problem, seems you should install caffe2 from source compile with opencv and ffmpeg installed, while switch on USE_OPENCV,FFMPEG,and LMDB,with command like this: cd pytorch && USE_OPENCV=1 USE_FFMPEG=1 USE_LMDB=1 sudo python setup.py install

[2019-03-03 09:26] kiyoon commented on #69
Same issue here.

Which Caffe2 version should I use?

I use Ubuntu 18.04, CUDA 9.2, built OpenCV from source with CUDA support,
I built Caffe2 as instructed on the official webpage, but added the options this project had specified.

I tried with the master branch and it succeeded, but have the same issue when running the code.
I tried checking out to v0.4.1 or v1.0.1 but failed during compilation.

[2019-03-04 05:29] zzjbug commented on #69
caffe2/video/video_input_op.h, line 487

    prefetched_label_.Resize(
        vector<int64_t>(1, batch_size_ * clip_per_video_ * multi_crop_count_));

change to:

    ReinitializeTensor(
        &prefetched_label_,
        vector<int64_t>(1, batch_size_ * clip_per_video_ * multi_crop_count_),
        at::dtype<int>().device(CPU))

[2019-03-04 05:47] kiyoon commented on #69
@zzjbug I will try to do it. But can you explain briefly why the error happens, and what did you change to fix it? I mean, why does changing the resizing function to reinitialising fix the error?

[2019-03-04 06:10] zzjbug commented on #69
I traced that the exception is thrown by this line of code.

There are a few tensors being initialized in this method: prefetched_clip_rgb_, prefetched_clip_of_, and prefetched_label_. Only this line is using the Resize method while all the others are using ReinitializeTensor.

I have read from another post that the caffe2 tensor interface has changed, probably due to the merge of caffe2 and pytor

[2019-03-04 06:15] kiyoon commented on #69
Wow, that's promising. Thanks for the explanation and suggestion. I'm building the modified source code, and I'll let you know the result.

[2019-03-04 06:21] dutran commented on #69
Yes, this is mainly due to tensor interface is changed. We should have an updated VideoInput soon.

[2019-03-04 06:38] shenqiang-Yuan commented on #69
@zzjbug i have confronted with the same error in this subject, it runs according to you solutions,thanks very much!!

[2019-03-05 02:46] kiyoon commented on #69
@zzjbug Thank you so much. That also solved the issue for me.

[2019-03-13 08:47] isamabdullah88 opened #71 "Error while Building Caffe2"
While building caffe2, I am getting some weird errors. It might has to do some thing about the ffmpeg version. Can someone please specify the ffmpeg version required. I am stuck on this for a week now. Would be highly obliged.
**/pytorch/caffe2/video/video_decoder.h:76:3: error: ‘AVPixelFormat’ does not name a type
   AVPixelFormat pixelFormat_ = AVPixelFormat::AV_PIX_FMT_RGB24;**

[2019-03-20 07:21] isamabdullah88 commented on #71
For anyone having such error, it was fixed using a version of ffmpeg 2.

[2019-03-20 07:22] #71 closed

[2019-03-20 07:24] isamabdullah88 commented on #70
You just not need to build from source, you need to build from source with ffmpeg and opencv. Maybe, you can ask for a precompiled caffe2 from someone who has compiled it from source with ffmpeg and opencv.

[2019-03-21 06:16] zhangdengp commented on #57
i want to do the same thing,do you have some good advice?
thank you

[2019-04-02 12:33] swap2ag commented on #7
What does the file in 1 contains? Does it contain the weights of R(2+1)D model trained from scratch using kinetics flows?

[2019-04-02 13:47] swap2ag opened #72 "doubt in flow data type"
Hi
What do **Flow2C**, **Flow3C**, **FlowWithGray** and **FlowWithRGB** mean as **`flow_data_type`** ?

Also, could you please tell me how to run the test code if the flows are already generated?

[2019-04-08 11:54] alexanderfrey commented on #26
Any updates on this ?

[2019-04-08 22:37] ChisamXz commented on #44
@953585130
Hi, could you also send me the pytorch file? I've really suffered enough from the installation.
I'll really appreciate the sharing!

My email is: **chisam.xiz@gmail.com**

Thanks

[2019-04-09 01:07] 953585130 commented on #44
@ChisamXz
I will send it to your email later.

[2019-04-13 23:46] JinyangGuo commented on #23
Hi,

For the clip level accuracy, what if the last clip is not long enough? For example, we can split the video into several 16-frame clips. But the last clip is shorter than 16 frame. How can we handle this clip?

[2019-05-03 16:14] surajm72 opened #73 "Prefetching error when finetuning"
Hello, trying to run the finetuning code on an existing model, but I'm getting this error.  I am somewhat new to caffe so any help is appreciated!!

Also, is there a way to run the finetuning without a GPU?

[E prefetch_op.h:110] Prefetching error std::bad_alloc
[E prefetch_op.h:83] Prefetching failed.
[E net_async_base.cc:377] Failed to execute an op,  op VideoInput
[E net_async_base.cc:135] Erro

[2019-05-06 16:54] zhenheny commented on #69
Same here, thanks @zzjbug

[2019-05-06 19:59] dutran commented on #69
This PR in pytorch should fix this https://github.com/pytorch/pytorch/pull/15884

[2019-05-08 08:54] yimikai commented on #44
@953585130  hi, bro,  could you please send that file to my email? my email is 1544788527@qq.com or hudongfang06@163.com, many thanks!!!

[2019-05-13 20:46] dutran commented on #69
Sorry, that PR correct one place in 485, but not 487.

[2019-05-14 04:20] dutran commented on #69
should be fixed now.

[2019-05-14 04:20] #69 closed

[2019-05-14 04:22] dutran commented on #73
should be fixed by https://github.com/facebookresearch/VMZ/issues/69

[2019-05-14 04:22] #73 closed

[2019-05-14 04:24] dutran commented on #61
It is a design choice, in later model we use MaxPool but with higher resolution (https://arxiv.org/abs/1904.02811). Code & models are released soon.

[2019-05-14 04:24] #61 closed

[2019-05-14 07:02] keunhong commented on #59
Could you clarify how the inputs are normalized during training? Are the inputs between -1 and +1?

[2019-05-15 22:16] keunhong commented on #60
I've been digging through the code and can't seem to find a clear answer for this. How are the inputs normalized? What mean/std are used? Are they scaled between -1 and 1?

[2019-05-16 18:47] dutran commented on #72
It is explained here https://github.com/pytorch/pytorch/blob/master/caffe2/video/optical_flow.h

[2019-05-16 18:54] dutran commented on #60
we normalize it to zero mean and unit variance. Here are the mean/std https://github.com/pytorch/pytorch/blob/master/caffe2/video/video_input_op.h#L374-L378

[2019-05-16 18:54] #60 closed

[2019-05-16 21:26] dutran commented on #70
Build from source with USE_FFMPEG and USE_OPENCV is ON should solve this.

[2019-05-16 21:26] #70 closed

[2019-05-16 21:26] dutran commented on #68
Thank Bruno!

[2019-05-16 21:26] #68 closed

[2019-05-16 21:28] #39 closed

[2019-05-16 21:30] dutran commented on #42
More likely you don't have CUDA driver installed on your machine.

[2019-05-17 16:00] swap2ag commented on #72
Thanks for the reply.

[2019-05-17 16:00] #72 closed

[2019-05-17 16:17] dutran commented on #66
This should be fixed now https://github.com/facebookresearch/VMZ/issues/69

[2019-05-17 16:17] #66 closed

[2019-06-08 03:19] Weed-eat-meat opened #74 "The link of finetuning model"
Hi! I would like to use the fine-tuned R(2+1)D-34 model on HMDB51 you provided, but the link is invalid. Could you reprovide a new valid link? I look forward to your reply.

[2019-06-12 03:37] #74 closed

[2019-06-12 08:03] guoqiang0148666 opened #75 "Fail to download train and validation splits"
Thank you for your excellent work !

l want to download train and validation splits list, but l can't access dropbox (https://www.dropbox.com/s/fyz9fec72v7gbxj/list.tar.gz). anyone can help me

l also need ucf-101 train and validation splits list and expect to your help

[2019-06-14 23:12] wtpro opened #76 "train with C3D model"
Hi,

I am currently trying to train from scratch C3D model with my own dataset. Can you provide some hints on that? The tutorial is only about R(2+1)D with HMDB dataset. Thanks for your time!

[2019-06-17 15:34] vinitmuchhala commented on #44
Hey, can you send me an email as well? it is vinit.muchhala@hotmail.com thanks

[2019-06-28 04:09] taojiashu opened #77 "Finetuning HMDB51 failed"
I have followed the tutorial on fine-tuning on HMDB51. However, I have encountered the following errors. I only modified the path to my data and split list. All other files were not changed.
[code]

[2019-06-28 08:06] taojiashu commented on #77
I was using `r2.5d_d18_l16.pkl` when it gave me the above error. However, when I change to `r2.5d_d34_l32.pkl`, the script runs successfully. Maybe there is something wrong with the previous pickle file on HMDB51?

[2019-07-03 17:42] dutran commented on #77
No, you need to use the right model params for the pre-trained model. That's why it gave you a bunch of warnings ```blob shape do not match```.

[2019-07-03 17:42] #77 closed

[2019-07-03 17:44] dutran commented on #76
Is it just the matter of changing the model name and using example of training from scratch? you may need to tune the hyper-parameters for your dataset though.

[2019-07-03 17:44] #76 closed

[2019-07-03 17:44] dutran commented on #75
It seems working for me.

[2019-07-03 17:44] #75 closed

[2019-07-12 01:10] YunseokJANG opened #78 "[need help] caffe2 install failture"
I tried to install caffe2 by following https://github.com/facebookresearch/VMZ/blob/master/tutorials/Installation_guide.md this tutorial for two days, but no luck. Especially,

1. I get "Failure" from the following command:
[code]

2. when I type the same command in python shell, it seems like GPU is not enabled:
[code]
also I am not sure about 'caffe2_pybind11_state'.

This is my cmake summary
[c

[2019-07-12 01:23] YunseokJANG commented on #78
close this issue.
(this error rises when you type
[code]
this command inside of pytorch folder.

[2019-07-12 01:23] #78 closed

[2019-07-16 08:54] nimit1997 commented on #28
any updates yet as to when you will release those models on Sports-1M ?

[2019-07-16 17:06] bjuncek commented on #41
Converting the models to pytorch is relatively straightforward but painful process (needs to be done by hand). You can find the sample model definitions [here](https://github.com/pytorch/vision/pull/1130) and you'd need to copy all the weights by hand.

Cheers

[2019-07-28 17:56] oLIVIa-Ld commented on #44
@953585130 hi, could you please send me an email for the correct pytorch? thank you, so much. oliviald@126.com

[2019-07-30 10:04] oLIVIa-Ld opened #79 "RuntimeError: [enforce fail at conv_op_cudnn.cc:520] filter.dim() >= 3 && filter.dim() <= 5."
hello @dutran , i finetuned the R2plus1D network pretrained by Kinetics and this error occured. could you help me solve this please, thank you.

INFO:model_builder:creating r2plus1d, depth=18...
INFO:video_model:Number of middle filters: 144
INFO:video_model:Number of middle filters: 144
INFO:video_model:Number of middle filters: 144
INFO:video_model:Number of middle filters: 144
INFO:video_model:

[2019-07-30 12:08] oLIVIa-Ld opened #80 "cudnn"

[2019-07-31 23:54] #80 closed

[2019-07-31 23:56] dutran commented on #79
It looks like you have a model mismatch issue.

[2019-08-01 06:47] oLIVIa-Ld commented on #79
I've solved this problem, thank you!

[2019-08-01 06:47] #79 closed

[2019-08-01 18:47] dutran commented on #28
Sports1M pre-trained models are released with also IG65M.

[2019-08-01 18:47] #28 closed

[2019-08-10 17:09] fksato opened #81 "Arbitrary frame depth average pooling kernel size"
Average pooling in r2plus1d, and possibly others, raise errors when dealing with frame depths not a multiple of 8.
Suggested fix would be to change
`final_temporal_kernel = int( clip_length / 8 / conv1_temporal_stride)`
in r3d_model.py line 158 to:
`final_temporal_kernel = int( ceil(clip_length / 8) / conv1_temporal_stride)`

[2019-08-11 18:23] inspiros commented on #41
@bjuncek Thank you for your converted models Bruno!

But is that just really copy from the .pkl file and assign to pytorch's statedict? I don't see the weights of your converted **r2plus1d_18-91a641e6.pth** equal to weights of **r2.5d_d18_l16.pkl** from [pre-trained models](https://github.com/facebookresearch/VMZ/blob/master/tutorials/models.md) and somehow has 2 millions less Params.

Am I missin

[2019-08-12 11:55] bjuncek commented on #41
So, you'd need to assign the correct weight to correct layer.
For R3D, that would look something like:

[code]

The pre-trained models referenced in the PR (and subsequent refactoring which makes them more readable and accurate) were actually trained from scratch to match the performance of the models here, so the weights wouldn't be the same.

[2019-08-15 17:23] dutran commented on #81
@fksato Thanks for the comment, we actually implement this as an virtual assert to make sure the model is correct and what we want it to be. Otherwise, one can replace AvergagePool by ReduceMean it will give the same as global average pooling with arbitrary kernel size.

[2019-08-15 17:23] #81 closed

[2019-08-27 11:06] bjuncek opened #82 "Conceptual Question on Video Bottleneck Models"
Hi @dutran et al,

I was wondering, is not including the block expansion in spatio-temporal convolution by design?

Specifically, let's say VideoModelBuilder makes a model where layer_2 has 2 bottleneck layers (for illustration purposes). Then the graph from VMZ looks like
[code]

When according to the block formula for the second bottlenect, one would expect to have the middle layer expanded as w

[2019-08-28 05:34] InwoongLee opened #83 "error: argument --jitter_scales is required"
I'm trying to train kinetics from scratch.

I'm following the tutorial training kinetics from scratch, but

in training, when entering "sh scripts/train_r2plus1d_test.sh"

error: argument --jitter_scales is required

The code doesn't have jitter_scales, but there is error.

Is there anyone to solve this?

Plz. Thank you.

[2019-08-28 07:29] InwoongLee opened #84 "error for video format"
I'm trying to train kinetics from scratch. I finished caffe2 from source with USE_OPENCV=1 USE_FFMPEG=1 USE_LMDB=1.  However, I received these errors.

[E video_decoder.cc:150] Insufficient data to determine video format
[E video_decoder.cc:751] The video seems faulty and we could not decode enough frames: 0 VS 8
INFO:train_net:Finished iteration 0/1000000 of epoch 0 (0.65 clips/sec)
INFO:train_ne

[2019-08-28 09:53] bjuncek commented on #82
Looking at the official implementation [[1](https://github.com/facebook/fb.resnet.torch/blob/master/models/resnet.lua)], I don't think that's correct, specifically, it looks like the naive bottleneck looks like the following
[code]

If you look at the output of that code (omitting BN and RELU's), the middle bottleneck for the naive resnet 152 layer 1 looks something like the following:
[code]

---

[2019-08-29 08:15] InwoongLee commented on #84
I set use_list to 0 in create_video_db.py and use_local_file in train_net.py.
Actually, that is the default settings. Can you guess this problem's reason?
Thank you for your reply.

[2019-08-29 17:13] dutran commented on #84
From you error message, it looks like you use ```use_local_file=1``` that's why it said a weird filename in the log. To debug, you may want to try again with both ```use_list=1``` and ```use_local_file=1```

[2019-09-04 09:25] bjuncek commented on #82
Sounds good, thanks for clarification.

[2019-09-04 09:25] #82 closed

[2019-09-09 01:28] Jinyong-Huang commented on #44
@953585130 I tried to install pytorch/caffe2 for a few days, but failed.could you please send that file to my email? my email is 543401923@qq.com

[2019-09-15 14:14] ThatIndianCoder opened #85 "[E video_decoder.h:269] Error opening video file"
For my project, I am trying to use this model. I downloaded all the required packages following the installation guide. Now, I want to test the model for my video dataset. I created an lmdb database of 5 samples from my video dataset by following the "create_video_db.py" script. When I run the script for testing the model, "test_net.py", I get the following error. Could anyone please explain what

[2019-09-16 09:38] ThatIndianCoder commented on #85
I solved this problem by referring to another closed issue. The solution is to keep both use_list (in create_video_db.py) and use_local_file (test_net.py) to either '1' or '0'. They both should have the same value.

[2019-09-16 09:38] #85 closed

[2019-09-16 17:05] dutran commented on #85
Glad to hear you got your issue solved. Thanks for the update.

[2019-09-17 18:29] R2D2oid commented on #44
I followed the tutorial instructions and after resolving a whole lot of other issues along the way still, get the infamous **VideoInput** error!

@953585130 @greathope @kateiyas or others,  do you mind sharing a link to the built package? maybe on google drive or elsewhere?

[2019-09-19 07:54] ThatIndianCoder opened #86 "Can we use the features extracted by the R(2+1)D-34 caffe model as input for a classifier built in Keras?"
For one of my projects, I would like to build a simple feed forward neural network in Keras. I was wondering if it is possible to use the features extracted by the given script written in caffe2 as input for a keras model.

[2019-09-25 10:12] bjuncek commented on #86
I'm sure it is, you'd simply need to write the dataloader that takes those features in for Keras - unfortunately, I can't really help with that :(

---
I've done something similar for pytorch, and it worked

[2019-09-25 10:13] bjuncek opened #87 "Missing links"
Hi all - some links are missing from https://github.com/facebookresearch/VMZ/blob/master/tutorials/model_zoo.md

Specifically, R(2+1)D-34 models pretrained on IG are not there (finetuned are ok).

[2019-09-25 10:53] Jinyong-Huang opened #88 "training ir-csn152 with ucf-101"
I don't know why the training was interrupted.

INFO:model_loader:copying comp_45_spatbn_4_rm
INFO:model_loader:copying comp_45_spatbn_4_riv
INFO:model_loader:copying comp_46_spatbn_1_rm
INFO:model_loader:copying comp_46_spatbn_1_riv
INFO:model_loader:copying comp_46_spatbn_3_rm
INFO:model_loader:copying comp_46_spatbn_3_riv
INFO:model_loader:copying comp_46_spatbn_4_rm
INFO:model_loader:copying c

[2019-09-25 10:58] Jinyong-Huang commented on #88
gnoring @/caffe2/caffe2/contrib/gloo:gloo_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/nccl:nccl_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops_gpu as it is not a valid file.
[E init_intrinsics_check.cc:43] CPU feature avx is present on your machine, but the Caffe2 binary is not compiled with it. It means you may not get the full speed of your CPU.

[2019-09-25 11:00] ThatIndianCoder commented on #86
Thank you for the tip. I will look into it.

[2019-09-25 21:05] daniel-j-h opened #89 "Wrong number of midplanes in r(2+1)d model's downsampling basic blocks (layer 2,3,4)"
Hey folks, I'm studying your r(2+1)d models and here is an interesting observation:
- The r(2+1)d models have four layers: the 2nd, 3rd and 4th downsample in the first basic block
- This downsampling basic block has _I think_ the wrong number (too many) midplanes

You can see this difference in the provided pickle files if you manually pull out the appropriate blobs and check their tensor shape. T

[2019-09-26 08:11] bjuncek commented on #89
Hi @daniel-j-h

I actually think this might be my reimplementation error in torchvision as I've implemented the pytorch model to the best of my understanding of the paper, with some guidance from Du (note @dutran is the original author of the paper and maintainer of this repo).

Effectively, the issue is that the original equation in the paper can be understood in two different ways - layer wise (

[2019-09-26 08:32] oLIVIa-Ld commented on #53
Hi, did you use the .mdl file to run the 'test_net.py'? how did you run that?
waiting for your reply, qq:469737944

[2019-09-26 08:52] oLIVIa-Ld commented on #53
Hi, did you use the .mdl file to run the 'test_net.py'? how did you run that?
waiting for your reply, qq:469737944

[2019-09-27 15:29] ThatIndianCoder opened #90 "TypeError: '/home/data/initial_training/training/clip1.avi' has type str, but expected one of: bytes"
I am working on fine-tuning the model for my own dataset. I installed all the dependency packages and the model works fine when I set use_list=0 (in create_video_db.py) and use_local_file=0(in train_net.py)

I would like to load the videos directly from my local machine and Hence I would like to run create_video_db.py with "use_list=1".  When I run the data/create_video_db.py with "--use_list=1",

[2019-09-27 17:43] daniel-j-h commented on #41
Hey folks we just did that for the r(2+1)d 34-layer model here:

https://github.com/moabitcoin/ig65m-pytorch

Hope that helps.

[2019-09-27 17:59] bjuncek commented on #41
Thanks @daniel-j-h. Much appreciated!

[2019-09-28 03:35] rsomani95 commented on #86
@bjuncek do you intend on sharing the code you wrote for doing this in PyTorch? I think a lot of people would find that very helpful.

[2019-09-28 21:13] dutran commented on #87
can you tried again? just updated the link. It works for me.

[2019-09-28 21:14] dutran commented on #90
This is more like python version warning, are you using python 3.0? The script was not tested with Python 3 yet, should be an easy fix though.

[2019-09-28 21:15] #89 closed

[2019-09-28 21:18] dutran commented on #88
There are many cases can lead to this kind of error. Can you try to do the same thing with only ```--gpus=0``` and see if you get the same error?

[2019-09-29 08:50] oLIVIa-Ld opened #91 "finetune ir-csn with my own dataset"
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/nccl:nccl_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops_gpu as it is not a valid file.
[E init_intrinsics_check.cc:43] CPU feature avx is present on your machine, but the Caffe2 binary is not compiled with it. It means you may not get the full speed of your CPU

[2019-09-29 10:30] Jinyong-Huang commented on #88
The reason should be out of GPU memory. when i set crop_size=112, use_pool1=0, batch_size=4, jitter_scales='128,160'(It should not work)  ...... It can run successfully.the memory usage is about 9400M(total of 12G). but I set jitter_scales='70,90', the error is Segmentation fault(Same as before).
Compared with pytorch and others, I see a memory usage that's many times larger running the exact same

[2019-09-29 10:31] Jinyong-Huang commented on #88
The reason should be out of GPU memory. when i set crop_size=112, use_pool1=0, batch_size=4, jitter_scales='128,160'(It should not work) ...... It can run successfully.the memory usage is about 9400M(total of 12G). but I set jitter_scales='70,90', the error is Segmentation fault(Same as before).
Compared with pytorch and others, I see a memory usage that's many times larger running the exact same

[2019-09-29 10:34] Jinyong-Huang commented on #88
The reason should be out of GPU memory. when i set crop_size=112, use_pool1=0, batch_size=4, clip_length_rgb=16, jitter_scales='128,160'(It should not work) ...... It can run successfully. The memory usage is about 9400M(total of 12G). but I set jitter_scales='70,90', the error is Segmentation fault(Same as before).
Compared with pytorch and others, I see a memory usage that's many times larger ru

[2019-09-29 10:42] bjuncek commented on #86
@daniel-j-h wrote a nifty little script here

I'll make my repo public as well tonight, as it might have a bit more context for other models :)

Best,
Bruno

[2019-09-29 10:56] bjuncek commented on #88
This sounds inconsistent with my observations - pytorch usually pre-allocates a bit memory as it has multiple ops reserved for running on GPUs.
I'd suggest trying the parameters that work on single and multi gpu setting, and see which parameter change causes the code to break.
---
In regards to the error stack, nothing in your error stack points to a OOM error - rather like GLOO or NCCL is not sup

[2019-09-29 10:58] oLIVIa-Ld commented on #91
@dutran dear dutran, I'm so impressed by your CSN, I want to finetune the model with my own dataset. this problem arised and I think there's something with my code. could you help me figure out this, thank you.
PS: I got only one GPU.

[2019-09-29 16:15] sandhawalia commented on #87
Model link works again. @bjuncek Thanks !

[2019-09-29 18:13] rsomani95 commented on #86
@bjuncek this repo might be exactly what I'm looking for! Thank you for the reference :)

To summarise:
1. VMZ defined and trained these models in Caffe2, exported and shared them as `.pkl` files, but to use them via PyTorch, you need to define the same model in PyTorch and copy over the weights layer by layer from the `.pkl` file -- and that's what https://github.com/moabitcoin/ig65m-pytorch does

[2019-09-29 19:41] daniel-j-h commented on #86
The `.pkl` files are the (key, value) blobs for the trained Caffe2 model weights.

In the [convert.py](https://github.com/moabitcoin/ig65m-pytorch/blob/791b64797252cf0d36c1fbbe505d73d1df0c1f64/convert.py) tool in [ig65m-pytorch](https://github.com/moabitcoin/ig65m-pytorch) we manually create the matching architecture in PyTorch (check convert source for slight model differences and how we fix them

[2019-09-29 19:45] rsomani95 commented on #86
@daniel-j-h thanks for the clarification. Excellent repo!

[2019-09-30 03:05] oLIVIa-Ld commented on #88
hello, i tried to finetune the model but the train_net.py crashed. could you send me copy of your scripts. i would be very thankful of you.
QQ:469737944

[2019-09-30 03:12] Jinyong-Huang commented on #88
ok

[2019-09-30 08:28] ThatIndianCoder commented on #90
Yes. I am using Python 3.7. I will look into it and post the findings here. Thank you.

[2019-09-30 09:22] bjuncek commented on #86
@rsomani95 yeah, that's pretty much the idea. I'd also take a look into the torchvision datasets, as I've tested it with those and can't really guarantee performance for other dataloaders (unfortunately video training can be quite data-dependent). In addition, I found them to be the simplest to set up as well.

ref: https://github.com/pytorch/vision/blob/master/torchvision/datasets/kinetics.py

an

[2019-09-30 09:23] bjuncek commented on #87
@dutran works now! Cheers.

[2019-09-30 09:23] #87 closed

[2019-09-30 09:24] bjuncek commented on #41
ps, @cdeepakroy if you found this solution satisfactory, feel free to close the issue.
Many thanks!!!

[2019-10-02 03:14] dutran commented on #91
It is very likely that you got the problem of memory. Also I notice that you use jitter_scales to small (128, 160) but crop_size is larger than that e.g. 224. For memory saving you could try
jitter scale (128, 160), crop_size=112, use_pool1=0

[2019-10-02 08:31] oLIVIa-Ld commented on #91
I have tried these smaller parameters, also this mistake. I dont know why the exception showed PROTO_CPU.

[2019-10-02 09:18] harshitjain1371999 opened #92 "Out of memory"
RuntimeError: [enforce fail at context_gpu.cu:496] error == cudaSuccess. 2 vs 0. Error at: /home/harshit_kunal/pytorch/caffe2/core/context_gpu.cu:496: out of memory
Error from operator:
input: "gpu_0/comp_9_conv_1" input: "gpu_0/comp_9_spatbn_1_s" input: "gpu_0/comp_9_spatbn_1_b" input: "gpu_0/comp_9_spatbn_1_rm" input: "gpu_0/comp_9_spatbn_1_riv" output: "gpu_0/comp_9_spatbn_1" name: "" type: "Sp

[2019-10-02 16:35] dutran commented on #92
You can either change to smaller batch size or smaller resolution or both.

[2019-10-02 16:35] #92 closed

[2019-10-02 16:37] dutran commented on #91
when you created ```/usr/VMZ-master/datasetv/pig_test```, did you use ```use_list=1```? I ask this because you used ```use_local_file=1``` in this script

[2019-10-02 16:42] dutran commented on #26
new, deeper models are released, feel free to give it a try, thanks!

[2019-10-02 16:42] #26 closed

[2019-10-02 16:42] #31 closed

[2019-10-02 16:42] #36 closed

[2019-10-02 16:44] dutran commented on #41
merge to https://github.com/facebookresearch/VMZ/issues/86

[2019-10-02 16:44] #41 closed

[2019-10-02 16:45] #42 closed

[2019-10-02 16:50] dutran commented on #88
This seems reasonable since input size is smaller.

This error is not about memory, but about using crop_size bigger than the scales. Remember, you scale the frame to 70 or 90 with smaller edges, then crop to 112x112 (how this possible). Then probably you hit to an out-of-bound memory address -> Seg fault

[2019-10-02 16:51] dutran commented on #63
Please use ```test_net_large.py``` instead of dense prediction to save computation.

[2019-10-02 16:51] #63 closed

[2019-10-04 11:55] ThatIndianCoder opened #93 "[E video_decoder.cc:751] The video seems faulty and we could not decode enough frames: 31 VS 32"
I have been trying to finetune the R(2+1)D-34 layer for clip length 32 with my own dataset. While pre-processing my data, I extracted clips of only 32 frames from each of my videos and I organized them to make my training data. My training/testing data looks like this:

Number of labels: 5
Training data - Number of videos for each label: 650
Training data - video length of each video: 32 frames (e

[2019-10-06 13:08] oLIVIa-Ld commented on #91
no, when i created the test file, i did not use 'use_list=1'. And i deleted 'use_local_file=1' the same exception. i'm so confused.

[2019-10-06 13:08] oLIVIa-Ld commented on #91
no, when i created the test file, i did not use 'use_list=1'. And i deleted 'use_local_file=1' the same exception. i'm so confused.

[2019-10-07 12:00] albanie opened #95 "frame rate for instagram models"
Thanks for sharing the pretrained models!
What was the frame rate used by the instgram models during pretraining?
Apologies if it's written somewhere, I couldn't find it in the paper.

[2019-10-08 13:03] zkqiu opened #96 "Could you update the clip level accuracy on Kinetics of those models?"
thanks!

[2019-10-09 09:37] ThatIndianCoder commented on #93
My apologies. It was a bug in my augmentation script where some videos had been trimmed with lesser frames. I cleaned my dataset and it works fine now.

[2019-10-09 09:37] #93 closed

[2019-10-09 09:37] #90 closed

[2019-10-10 10:32] bjuncek commented on #95
@albanie can you point me to the exact model?
I haven't trained them but I can check the log files :)

[2019-10-10 10:35] bjuncek commented on #95
also, as a sidenote, your website was the most entertaining read since the [US military report on the effect on atomic bomb on brewed alcoholic beverages](https://www.npr.org/sections/krulwich/2012/09/18/161338723/u-s-explodes-atomic-bombs-near-beers-to-see-if-they-are-safe-to-drink?t=1570703647207)

[2019-10-10 18:28] bjuncek commented on #95
Hi @albanie, so "the IG data is encoded at many different frame rates. The peaks are at 24 and 30, but the fps distribution was spread out quite a bit".

[2019-10-10 19:23] albanie commented on #95
OK, great - in that case I guess the models should be fairly robust to whatever I run it with. Thanks for your help!

[2019-10-10 19:23] #95 closed

[2019-10-19 18:56] ThatIndianCoder commented on #90
The issue can be solved by converting the variable "file_name" in create_video_db.py from str to byes.

file_name = file_name.encode('utf-8)

will resolve this error.

[2019-10-23 03:33] oLIVIa-Ld opened #97 "svm"

[2019-10-23 03:33] #97 closed

[2019-11-09 06:52] JameesWang opened #98 "Can't connect dropbox"
Hi, Thank you for your great work！
I can't connect dropbox, so i can't download model-"R2.5D-18" in VMZ/blob/master/tutorials/models.md
Is there anyone  send me a pre-training model（R2.5D-18）? Thank you for your help!
My email: wangjianmin46@126.com
Thank you  again.

[2019-11-09 07:44] JameesWang commented on #98
I have downloaded pretrained models from another channel.
Thank you~

[2019-11-09 07:44] #98 closed

[2019-11-23 08:37] Jinyong-Huang opened #99 "Finetuned model"
would you provide csn models and weights by pytorch. thanks

[2019-11-24 19:03] Granitevilian opened #100 "How does jitter_scales parameter actually work?"
I suppose this parameter should be set in order to do spatial jittering, which is stated in the original paper. However, through a detailed check of the provided code, I feel confused about how it works. Sorry if it is a stupid question but please help me understand it correctly.

In train_net.py, jitter_scales is directly passed into AddVideoInput():
https://github.com/facebookresearch/VMZ/blob/6

[2019-11-29 23:26] kwende opened #101 "Completely incapable of getting the installation requirements working"
After following the [steps for Ubuntu 16](https://github.com/facebookresearch/VMZ/blob/master/tutorials/Installation_guide.md), verbatim, I consistently get this:

[code]

[2019-12-01 09:18] daniel-j-h commented on #101
I had similar problems that's why I packages up the installation into a self-contained and reproducible Docker environment; see this pull request https://github.com/facebookresearch/VMZ/pull/94

[2019-12-02 21:55] kwende commented on #101
Hah, @daniel-j-h that's good to hear. I didn't see that PR. I too have a docker container now, but it might be beneficial to jump over to yours. Amazing how messed up the instructions are.

A few questions: downloading the data sets to train -- have you had any success? They link to to the ActivityNet from [here](https://github.com/facebookresearch/VMZ/blob/master/tutorials/kinetics_train.md), but

[2019-12-13 06:57] LLLLLLI commented on #25
I meet this warning too.
How can I disable them?

[2019-12-13 14:46] sanchit2843 opened #102 "Converting model to pytorch."
Hello,
Can anyone share how to convert these models to pytorch?

[2019-12-13 17:11] daniel-j-h commented on #102
Our unofficial port is here: https://github.com/moabitcoin/ig65m-pytorch

The convert and model files show how to convert weights and implement the architecture.

[2019-12-13 20:19] #102 closed

[2019-12-18 07:14] bairw660606 opened #103 "about the C3D model size"
Hi,
   thanks for your work. it really help me! but I have a question.
   I look at the number of the C3D model parameter is 64.9M in the Model zoo, but in the Pseudo-3D paper , it's 321M . Why? I'm so confused.

[2019-12-18 09:47] bairw660606 commented on #103
it's backbone is Resnet-34? right?

[2020-02-02 09:10] BramVanroy commented on #62
Other far-fetched idea: did you train the model on Python 2 and now try to load it in Python 3 or vice-versa?

[2020-02-18 07:57] shumming opened #104 "About video list for feature extraction"
I have some questions about video list file for feature extraction.
I saw your answer of previous issue where https://github.com/facebookresearch/VMZ/issues/11#issue-331330979, but I'm still not sure about my understanding.

There are four categories in video list : **org_video, label, start_frm, video_id**
And I want to use extract_features.py for untrimmed video datasets.
Here is my questions.

[2020-02-20 06:55] leemengxing opened #105 "model zoo link error?"
Thank you for your work. I am not sure if it is because of my network problem, but the model library link is broken. Can you update it once?

[2020-02-20 08:54] leemengxing commented on #103
Although it is not related to the question, I still want to ask you to give a C3D link, the model_zoo link is invalid. Thank you for your help, my email is leemengxing93@gmail.com.

[2020-02-21 02:51] #105 closed

[2020-02-27 07:45] mnbv7581 opened #106 "Windows 10 environment?"
Can I use this project in Windows 10 environment?
If not, can you give me a guide on how to change the configuration?

[2020-02-28 01:20] 123liluky opened #107 "can not find opencv-3.4.0.zip"
When I install opencv in ubuntu, error is
![图片1](https://user-images.githubusercontent.com/20832778/75501717-bcfc1a80-5a0b-11ea-8c5e-fc65ebffe261.png)

[2020-03-04 04:26] huangjun12 opened #108 "Script for training ip-csn-152 from scratch on Kinetics"
hi, how to write the script(.sh file)  for training  ip-csn-152 from scratch on Kinetics?
I'm little confused with these optional args...

[2020-03-04 08:27] 123liluky commented on #108
@huangjun12  Could you share your Installation steps before training? I am confused with Installation-guide. Thank you.

[2020-03-04 08:29] 123liluky commented on #104
@shumming Could you share your Installation steps before training? I am confused with Installation-guide. Thank you.

[2020-03-04 08:30] 123liluky commented on #103
@bairw660606  @leemengxing Could you share your Installation steps before training? I am confused with Installation-guide. Thank you.

[2020-03-04 08:36] huangjun12 commented on #108
I also followed the Installation-guide, so what problem in your case? wish i can help you...

[2020-03-04 21:34] 123liluky commented on #108
can not find opencv-3.4.0.zip
![image](https://user-images.githubusercontent.com/20832778/75925016-e94be700-5ea2-11ea-8f8c-1b8fd117352f.png)

[2020-03-05 07:11] leemengxing commented on #103
what problem do you meet with installation-guide? @123liluky

[2020-03-05 08:05] #107 closed

[2020-03-05 08:07] 123liluky commented on #108
@huangjun12 Could you please add my QQ to talk about this, qq:1240307423

[2020-03-08 16:57] Weed-eat-meat commented on #44
@953585130   Hi，I had the same problrm, can you send me an email as well? it is syy960315@163.com. thanks

[2020-04-29 03:12] FesianXu opened #109 "are there any preprocessing in video clips ?"
Hi, great work and gave my lots of help ! However, I still need some help.
I am really not familiar with caffe2 and could not find out whether the caffe2 version irCSN152- IG65M model used any pre-processing to the input video clips or not. (I tried to re-implement the irCSN152 model with pytorch and try to load the pretrained model weights into it.)
In my experiment，I just simply normalized the p

[2020-04-29 03:19] FesianXu commented on #14
@murilovarges Hi, murilo, sorry for bothering, but I want to know the pixel range of the videos, is range from 0 to 1 or from 0 to 255 ? do we need other specify pre-processing? thanks.

[2020-04-29 03:21] FesianXu commented on #96
Hi @zkqiu , could you re-implement the video-level accuracy with the released code and weights ? thanks

[2020-04-30 15:07] FesianXu commented on #109
find the answer at https://github.com/pytorch/pytorch/blob/master/caffe2/video/video_input_op.h#L374-L378
close the issue now.

[2020-04-30 15:07] #109 closed

[2020-05-07 01:57] R2D2oid opened #110 "Feature extraction fails with [E video_decoder.cc:151] Insufficient data to determine video format"
I'm using a pre-trained C3D model from [here](https://github.com/facebookresearch/VMZ#r21d-152) to extract feature for a single video clip. Kindly see the logs in the bellow.

I have noted the suggestions from [this issue](https://github.com/facebookresearch/VMZ/issues/13) and picked a large video with 7051 frames.
Logically my video `len` should pass the condition from [this line](https://github.

[2020-05-07 14:19] #88 closed

[2020-05-08 04:54] Yuqing1119 commented on #44
@953585130 Hi, I had the same problem, can you send me an email for the correct pytorch as well?  It is syuqing@ruc.edu.cn, thank you very much!

[2020-05-08 19:59] dutran commented on #110
This error indicates ```Error opening video file``` with ```Insufficient data to determine video format``` -> you video files are corrupted or you compiled caffe2 without the right codecs.

[2020-05-08 20:33] dutran commented on #108
we used the distributed training and the hyper-parameters provided in the paper.

[2020-05-08 21:45] R2D2oid commented on #110
Thanks for the pointers.

- As for the input video, I have tried using the [example video](https://github.com/facebookarchive/C3D/tree/master/C3D-v1.1/examples/videos/avi) from the old C3D codebase as well as other videos from ActivityNet dataset.

- Regarding the caffe2 compilation, I have followed the [instructions](https://github.com/facebookresearch/VMZ/blob/master/tutorials/Installation_guide

[2020-05-09 08:09] huangjun12 commented on #108
Actually, the hyper-parameters in the paper is not so clear ...

[2020-05-13 18:32] yushuinanrong commented on #96
+1

[2020-05-14 03:34] #99 closed

[2020-05-17 07:52] nassimaNoufail opened #111 "How to generate kinetics_val_list"
to create an lmdb database of Kinetics, we should use the data/create_video_db.py file, that needs 'kinetics_val_list ' CSV file, where can I find that CSV file!

[2020-05-21 03:23] huangjun12 opened #112 "Error when run scripts/test_irCSN_152_kinetics.sh: input.numel() > 0"
`[E net_async_base.cc:377] [enforce fail at conv_pool_op_base.h:219] input.numel() > 0.
Error from operator:
input: "gpu_0/data" input: "gpu_0/conv1_w" output: "gpu_0/conv1" name: "" type: "Conv" arg { name: "kernels" ints: 3 ints: 7 ints: 7 } arg { name: "exhaustive_search" i: 1 } arg { name: "order" s: "NCHW" } arg { name: "pads" ints: 1 ints: 3 ints: 3 ints: 1 ints: 3 ints: 3 } arg { name: "str

[2020-05-22 20:49] yushuinanrong commented on #104
I haven't tested the code but I would try to answer your questions based on my own understanding.
1. Yes
2. I think the answer is Yes.
3. start_frm is the frame index of the starting frame of a short clip/snippet.

[2020-05-28 01:51] nassimaNoufail commented on #112
@huangjun12 can you plz tell me how did you create the lmdb database of Kinetics, we should use the data/create_video_db.py file, that needs 'kinetics_val_list ' CSV file, and I don't know where can I find that CSV file or how to generate it

[2020-05-28 01:58] nassimaNoufail commented on #110
@R2D2oid can you plz let me know how did  you prepare the csv file for lmdb creation

[2020-05-28 07:07] #112 closed

[2020-05-28 19:18] lcskrishna opened #113 "Unrecognized arguments --pretrained_model in the script finetune_ucf101.sh"
When I try to run the finetune_ucf101.sh script, it throws unrecognized pretrained_model.
I searched in train_net.py I didn't see such arguments.
What is the way to load the pre-trained model?

[2020-06-10 00:36] XinliYu opened #114 "Does VMZ work with opencv 4.0+"
Quick question, does VMZ work with opencv 4.0+? It is really hard to install opencv 3.4 on my environment.

[2020-07-07 23:58] R2D2oid commented on #110
@nassimaNoufail The original tutorial from [here](https://github.com/facebookresearch/VMZ/blob/master/tutorials/feature_extraction.md#preparing-data) has an example csv that you can follow. I have also copied an example above, with a stride of 16 frames.

[2020-07-14 09:11] jaypatravali commented on #28
@dutran  the Sport1M pretrained model with IG65M I find only the 8 or 32 frame pretrained weights. Do you also have 16 frame input model?

[2020-07-14 18:15] NemioLipi opened #116 "Tutorial for pytorch feature extraction"
Hi,
Thanks for sharing the code. Would you please add a tutorial for feature extraction using the pytorch version? What is the "shared folder" and the "checkpoint" directory?

[2020-07-15 05:36] NemioLipi commented on #44
@953585130 Hi, I am facing the same problem, would you please send me the correct pytorch version as well? My email address is nemiolipi@gmail.com,

[2020-07-15 06:01] Yuqing1119 commented on #44
@NemioLipi Hi, I have solved the problem by getting back to pytorch version v1.1.0. The script is as follows:

git clone https://github.com/pytorch/pytorch.git
cd pytorch && git checkout v1.1.0 && git submodule update --init --recursive

But to be noted, the 487 line of caffe2/video/video_input_op.h should be replaced with the following:
ReinitializeTensor(&prefetched_label_, vector<int64_t>(1, ba

[2020-07-15 07:33] jaypatravali opened #117 "VMZ. Pytorch models"
Hi followed the install instructions to get vmz locally.

I wanted to try out some of the pretrained models like

$  from vmz.models import r2plus1d_34
$ r2plus1d_34(pretraining='sports1m_32frms')

posted below is the tail output of the model:
 `
  (avgpool): AdaptiveAvgPool3d(output_size=(1, 1, 1))
  (fc): Linear(in_features=512, out_features=**400**, bias=True)
`
this seems like its the finetune

[2020-07-16 23:09] elv-zhiyun opened #118 "R(2+1)D training time on Kinetics"
Hi,
thank you for your work and pre-trained models!
I'm trying to train R(2+1)D on a custom dataset and It appears training takes a long time. In `c2/tutorials/kinetics_train.md` it says "Training this model may take a few days with 8 P100 GPUs" -- is this model R(2+1)D-18 8-frame as specified in `c2/scripts/train_r2plus1d_kinetics.sh`?
Could you share more detailed information about this? How muc

[2020-07-24 20:43] bjuncek commented on #118
Hi @elv-zhiyun, the training time varies on a million different parameters, such as the compute you have available, type of interconnects, data reading system, etc.

I found that training a model on Kinetics dataset, with 64 V100 gpus (connected via InfinityBand), and NFS attached storage takes about 24 hours. This is training it for 45 epochs with epoch multiplier of 5 using pytorch DDP.

I was a

[2020-07-24 20:51] bjuncek commented on #117
hi @jaypatravali,
so for r2plus1d_34 I don't think we provide `sports1M` pretraining (see [here](https://github.com/facebookresearch/VMZ/blob/45b04d6b7cd51baf81c144df56369b7521334cc6/pt/vmz/models/r2plus1d.py#L14:L20).

For the IG models, that might be the case as I was actually using models from a different repo. I'll send a PR to fix that in about 2 weeks (I'm on vacation ATM). If you need a fix

[2020-07-24 20:54] bjuncek commented on #116
Yeah for sure.
It'll take a few days unfortunately as I'm not working at FB anymore, but hopefully I'll get it out soon :)

[2020-07-25 13:46] zhuimenghx opened #120 "Some questions about GPU and clip_length?"
Hello, I would like to ask some related issues about R(2+1)d paper
①Did you use 64 GPUs when training K400? What is the specific number and model of GPU?
② Is the clip_length of the pre-training model used by UCF101 and HMDB51 8 frames or 16 frames?

[2020-07-27 22:16] jaypatravali commented on #117
hi @bjuncek  thanks for your replies. I went through the caffe2 models and its seems the sports1m is only available for r2plus1_152 model. If i were to your paper which you co-authored recently https://arxiv.org/pdf/2007.04755.pdf which uses 34 layer model with sports1m. Is that model going to be available (r21d_34_sports1m)

[2020-07-27 23:19] bjuncek commented on #117
Ah, yes - I believe that was one of the internal ones.

@dutran do you perhaps have the R(2+1)D-34 pretrained on sports1m only lying around somewhere?
The one you've later finetuned for the 2017/8 CVPR paper in `models.md`.

[2020-07-28 19:09] #118 closed

[2020-08-03 22:01] nassimaNoufail commented on #44
@953585130 Hi, I have the same issue can you please email me the correct PyTorch version, my email: nassima.noufail@gmail.com Thank you!!

[2020-08-04 06:11] jaypatravali commented on #117
@dutran @bjuncek any updates on the Sports1m model for r2plus1_34 model :-)

[2020-09-09 17:29] HengCV commented on #120
Thanks for your interest in the paper.
1, You can use any number of GPUs for training models on Kinetics. Remember to adjust your batch size and learning rate accordingly.
2, We use 32 frames which give better results on UCF101 and HMDB51.

[2020-09-09 17:29] #120 closed

[2020-09-23 11:06] #111 closed

[2020-10-09 09:43] JonathanSum opened #121 "Do we have tutorial or coding tutorial on how to use VMZ?"
If possible, do we have coding tutorial on how to use the video training in pytorch? I know the torch.vision.io does this, but there is no tutorial.

[2020-10-09 11:52] bjuncek commented on #121
at the moment there are `train_net` and `test_net` tools for pytorch, but the reference to use them is baked in the documentation.

What do you envision as a tutorial? something like a jupyter notebook?

Cheers,
Bruno

[2020-10-09 11:55] bjuncek opened #122 "[logistics] proposing new labels"
@dutran proposing to add two new labels:

`modules:c2`
and
`modules:pt`

This would allow for easier tracking of the issues :)

Cheers.

[2020-10-09 14:02] JonathanSum commented on #121
Thank you for answering. Yes, I hope we can have something like a jupyter notebook.

[2020-10-09 19:56] dutran commented on #122
agree

[2020-10-09 19:56] #122 closed

[2020-10-14 21:48] dutran commented on #114
it is not tested with OpenCV 4.0 yet. I would to see what error it hit when you use it with OpenCV 4

[2020-10-14 21:49] dutran commented on #113
are you asking for pytorch or c2?

[2020-10-14 21:51] #108 closed

[2020-10-14 21:54] dutran commented on #103
All dropbox links for C3D models are here https://github.com/facebookresearch/VMZ/blob/master/c2/tutorials/model_zoo.md and I checked, they are working fine.

[2020-10-14 21:54] #103 closed

[2020-10-14 21:54] #57 closed

[2020-10-16 16:22] WurmD opened #123 "Feature extraction tutorial error"
`python3 data/create_video_db.py --list_file sample_videos.csv --output_file my_lmdb_data --use_list 1 --use_video_id 1 --use_start_frame 1`

yields

[code]
at  https://github.com/facebookresearch/VMZ/blob/master/c2/data/create_video_db.py#L86

[code]
`video_data` is indeed a `str`, since `video_data = file_name` given `use_list`

I'm uncertain what to do now. Do you need more information? Can you

[2020-10-16 17:12] dutran commented on #123
this is an error by python3 vs python 2 incompatible in term of string data type.

[2020-10-16 17:58] WurmD commented on #123
Oh.. I didn't realize this repo used python2..

Is there an updated version of this repo for python3 @dutran ?

[2020-10-16 19:37] dutran commented on #123
We plan to have an update on that. For not a simple fix should be video_data.encode('utf-8')

[2020-10-19 02:30] chunniunai220ml opened #124 "DistributedDataParallel error when train the model in one server with multi-gpus?"
Hi，when I run the train codes:

python tools/train_net.py --name=/mnt/codes/ckpts/trains --model=ir_csn_152 --resume_from_model=/mnt/codes/weights/pre_trained_weights/irCSN_152_ig65m_from_scratch_f125286141.pth --dataset=ucf101 --traindir=/mnt/codes/dataset/UCF-101/ --nodes=1 --batch-size=1 --workers=8 --epochs=45 --finetune=True --num_finetune_classes=43

meeting the error:
AssertionError: Distri

[2020-10-20 03:02] chunniunai220ml commented on #124
I have solved the problem by add model.to('cuda') in if args.distributed: blocks, beacuse in if args.fineturn: the modification of the model.fc lead to the fc layer paramter.device=='cpu'.
but, I do not know  how to set multi-gps? as the code : torch.nn.parallel.DistributedDataParallel(model,device_ids=[args.gpu]), and args.gpu=job_env.local_rank in __setup_gpu_args(),  should i set --nodes=num_gp

[2020-10-21 11:45] #121 closed

[2020-11-12 03:48] jaypatravali commented on #117
@dutran @bjuncek  any updates?

[2020-11-12 08:50] ThatAIGeek commented on #110
@R2D2oid were you able to fix this error?

[2020-11-13 10:10] bjuncek commented on #117
@dutran if you can upload the model, I'll gladly convert it and test it for PT :)

[2020-11-13 18:16] dutran commented on #117
we have R(2+1)D-34 preatrained on Sports-1M but on 32x112x112 not 224x224 which may have worse performance, you can find them here. https://github.com/facebookresearch/VMZ/blob/master/c2/tutorials/models.md

[2020-11-27 07:51] lovelyczli opened #125 "performance on UCF and HMDB (split1)"
Thanks for sharing exciting work! But I have some questions as follow:

UCF and HMDB are popular datasets for action recognition, but your work doesn't report these results. (except R2+1D report pre-training on Kinetics)
I3D has greatly improved on HMDB and UCF since pre-training on Kinetics. So how about R2+1D and CSN after pre-training on big datasets, especially in IG65M.

I am attempting to fi

[2021-01-03 08:27] tchang1997 opened #126 "Broken links in PyTorch model zoo (+ fixes)"
Hello all,

While trying to load the pretrained R(2+1)D-152 models fine-tuned on Kinetics, I kept running into a `KeyError` in the `model_urls` variable in `VMZ/pt/vmz/models/utils.py`, and upon further inspection, the `__init__` constructor in the R(2+1)D module (at `VMZ/pt/vmz/models/r2plus1d.py`) seems to be passing in malformed keys.

I noticed that a similar issue has been brought up in #105

[2021-01-14 16:38] amandeep25 opened #127 "Facing errors-> 'VideoResNet' object has no attribute 'compile' 'add' 'summary' 'fit'"

[2021-01-18 03:05] tchang1997 opened #128 "Converting IR-CSN-50 Caffe2 to PyTorch + more IR-CSN backbone sizes"
**Problem:** Can't convert IR-CSN-50 Caffe2 model to PyTorch using modified version of conversion script.
**Expected behavior:** Caffe2 model is converted to `.pth` format successfully
**Actual behavior:** Shape mismatch occurs.

**Questions:**
* Is there something wrong with the `*.pkl` file storing the IR-CSN-50 model weights, or have I misspecified something?
* Alternately (circumventing this e

[2021-01-20 02:43] tchang1997 commented on #128
Update: for converting the models, the Resnet50 block sizes should be `[3, 4, 6, 3]`, NOT `[3, 8, 6, 3]`. The conversion works upon modifying the `ir_csn_50` code above accordingly.

[2021-01-20 02:43] #128 closed, assigned to nobody

[2021-03-12 08:19] KhHTran opened #129 "ir_csn_152 size mismatch: Error(s) in loading state_dict for VideoResNet"
I follow the installation guide to install VMZ locally. When I try to load the pretrained ir_csn_152 model to PyTorch:
`from vmz.models import ir_csn_152`
`model = ir_csn_152(pretraining="ig65m_32frms")`
I received an error saying that there is a size mismatch with fc.weight and fc.bias. I assumed this is a bug where the finetuned model was given the pretrained model weights or vice versa.
![image

[2021-03-31 18:44] dutran commented on #126
sure, thanks!

[2021-03-31 18:44] #126 closed, assigned to nobody

[2021-04-12 03:42] lovelyczli commented on #117
@jaypatravali @bjuncek  @dutran I got R(2+1)D34 models pretrained on ig65m ("r2plus1d_34_32_ig65m"), but could you please provide a R(2+1)D34 model pretrained on sports1M.

As you know, it is reasonable to compare other works with the same pretraining datasets. However, I do not have enough GPUs to train on sports1M, let alone adjusting parameters.

Especially in https://github.com/facebookresearc

[2021-04-15 08:35] nhatnxn commented on #128
I have the same problem. It succeeds for irCSN_152, but it doesn't work for irCSN_50.
KeyError: 'comp_0_conv_2_middle_w'.

[2021-04-23 19:02] richardkxu opened #130 "torchvision video_reader video backend is not available"
Hi,

Thanks for making this open source! I have followed the pytorch installation steps here: https://github.com/facebookresearch/VMZ/blob/master/pt/INSTALL.md. However, I have encountered the following error when I tried to do training on ucf 101 or simply load " torchvision.set_video_backend('video_reader')":

[code]

I have `CUDA=10.2` on my system. I am wondering how to solve the above error?

[2021-04-23 19:38] richardkxu opened #131 "ucf101 ip_csn_152 training/test dataset config"
Hi,

Thanks for making this open source! I am a little confused on the ucf 101 dataset config. Is the following correspondence correct? should I leave args.val_file and args.train_file as default?

[code]

With the above ucf101 config, I have encountered the following dataset error when running: `train.py --model ip_csn_152` or `"train.py --model ip_csn_152"`. It seems like the size of the train a

[2021-05-11 07:28] ningbende commented on #129
same problem+1

[2021-07-13 08:05] pritamqu opened #132 "can I download IG65M dataset?"
I tried looking for the IG65M dataset to download and pre-train my model, could you please let me know if it's public or just for internal use at Facebook?
sorry for a naive question!

referred from here: https://github.com/moabitcoin/ig65m-pytorch/issues/42#issuecomment-878187827

[2021-07-28 16:21] AntiLibrary5 opened #133 "Calculating weights for Gradient Blending for new datasets"
Hi,
Are there any additional resources about calculating the normalizing constants for the blending weights from a practical implementation point of view apart from the literature (what makes training multi-modal classification networks hard?).

The weights for the datasets used are given : https://github.com/facebookresearch/VMZ/blob/master/c2/tutorials/gradient_blending.md
But I couldn't find an

[2021-08-09 01:51] Tracy-Lee1993 commented on #44
@953585130 Hi, I have the same issue can you please email me the correct PyTorch version，my email：lizhaoyang_1993@qq.com

[2021-09-13 15:14] hoonkai commented on #129
Same problem here. Is this solved?

[2021-09-14 07:57] hoonkai opened #134 "Not able to reproduce reported results on Pytorch"
I am unable to reproduce the results for `ir-CSN-152` and `ip-CSN-152` pretrained on Sports1M ft Kinetics and IG-65M ft Kinetics. When tested on Kinetics 400 val, the `Acc@1` and `Acc@5` are around 40% and 65% respectively. Table 5 in the paper indicates 82% and 95%. Are there issues with the Pytorch models?

[2021-09-14 09:32] KhHTran commented on #129
I'm not sure. But you can solve the issue pretty easily.

[2021-09-23 08:38] GriesserP commented on #129
Hello, could you give the solution please ?

[2021-09-23 08:49] KhHTran commented on #129
You load an empty model then load the state of the pre-trained model.
`url = 'https://github.com/bjuncek/VMZ/releases/download/test_models/irCSN_152_ft_kinetics_from_ig65m_f126851907.pth'
dic = torch.hub.load_state_dict_from_url(url, progress = True)

model = ir_csn_152()
model.load_state_dict(dic)`

[2021-12-04 07:46] paden118 commented on #120
In addition, how many clips are used for average prediction for ucf101 and hmdb51?

[2021-12-04 07:47] paden118 opened #135 "questions about input"
how many clips are used for average prediction for ucf101 and hmdb5d1?

[2021-12-04 07:49] paden118 commented on #135
In addition, what size are used for training and average prediction for ucf101 and hmdb5d1?

[2021-12-10 07:27] paden118 commented on #121
Does any tutorial for using the PyTorch version now?

[2021-12-10 07:28] paden118 commented on #121
Does any tutorial for using the PyTorch version now?

[2022-05-10 06:55] dragen1860 commented on #132
+1

[2022-05-10 06:58] dragen1860 opened #136 "Please publish a lightweight video model, such as X3D /TSM or R(2+1)18 etc...."
Dear author:
    Thanks for shareing the great large scale pretrained models. Since the dataset is not avaiable for downloading, could you kindle train and publish a lightweight models, such as X3D or TSM?? thank you very much.

[2022-05-24 23:29] dutran commented on #132
unfortunately, we can release the models only.

[2022-05-24 23:29] #132 closed, assigned to nobody